%li.member
  %span.icon
    %img.avatar{:src => member.avatar_url(24)}>
  %span.name
    %a{:href => member.url}
      = member.info[:name]
  %span.remove
    %form.inline{:action => person.url(:path => "members/#{member.uuid}", :full => true), :method => :post}
      %input{:type => :hidden, :value => 'delete', :name => :_method}
      %input{:type  => :hidden,
             :value => member.uuid,
             :name  => :person}
      %input.link.delete{:href  => "#",
                         :value => "remove",
                         :type  => :submit,
                         :title => "remove this row"}
  %span.description
    :markdown
      #{member.info[:description]}
