@charset "UTF-8";

.card.admin ul.options {
  margin-top: 20px;

  li {
    &:not(:first-child) {
      margin-top: 10px;
    }

    label {
      color: $admin-option-color;
      font:  $admin-option-font;
    }
  }
}

.card.admin.filled ul.options {
  padding-bottom: 20px;
}
