/* Contains the color scheme for the site */

@charset "UTF-8";

/* Site Palette */
$major-color: #103942;
$highlight-color: hsl(190, 30%, 50%);
$minor-color: white;
$accent-color: #c764d9;
$accent-color: #b481bd;
$focus-color: hsl(190, 60%, 50%); // For outlining focused input elements

/* Master */

$body-bg: hsl(190, 50%, 5%);
$input-disabled-bg: #ECECEC;

/* Top bar */

$top-bar-bg: #EDE1F7;

/* Navigation */

   $nav-username-color: #7600BD;
       $nav-link-color: rgb(48, 48, 48);
          $nav-link-bg: white;
$nav-link-border-color: #e8e8e8;

/* Headers */

$header-bg: $major-color;
$header-color: #f8f8f8;
$sub-header-color: #555;
$sub-sub-header-color: hsl(190, 30%, 55%);

/* Normal Content */

$paragraph-color: #222;
     $link-color: hsl(190, 60%, 45%);

/* Object Description */

$object-description-bg: hsl(190, 30%, 50%);
$object-description-color: white;
$object-type-color: #A2E6FC;
$object-sub-header-color: $accent-color;

/* Object Tags */
$object-tag-bg:           hsl(190, 50%, 90%);
$object-tag-border-color: hsl(190, 30%, 80%);
$object-tag-color:        hsl(190, 70%, 30%);
$object-tag-hover-color:  hsl(190, 70%, 50%);
$object-tag-hover-bg:     hsl(190, 50%, 90%);

/* History View */
$history-bg: white;
$history-message-color: black;
$history-author-color: black;
$history-date-color: black;

/* Workflow */

$workflow-label-type-color: rgba(57, 130,	130, 1.0);
$workflow-label-name-color: rgba(30, 30,	30,  1.0);

$workflow-line-color: #e8b0e0;
$workflow-wire-selected-color: #ff7eff;
$workflow-accent-color: #F1D7ED;

$workflow-wire-hover-color: darken($workflow-line-color, 20);

$workflow-node-selected-border-color: $workflow-wire-hover-color;

$workflow-wire-node-color: #BEEAC4;
$workflow-wire-node-border-color: #9ED4A5;
$workflow-wire-node-accent-color: #ADD89D;

$workflow-wire-selected-node-color: #CEFAD4;
$workflow-wire-selected-node-border-color: #AEE4B5;
$workflow-wire-selected-node-accent-color: #BDE8AD;

$workflow-selection-color: rgba(90, 181, 181, 0.33);
$workflow-selection-border-color: rgba(70, 161, 161, 0.33);
$workflow-wire-selected-node-highlight-color: #ff7eff;

/* Cards */

        $card-bg: #fff;
$card-blue-color: #fff;
   $card-blue-bg: hsl(230, 30%, 60%);
 $card-filled-bg: #fff;

/* Tabs */

$tab-strip-bg:              #a688a7;
$tab-strip-accent-color:    #ccc;

$tab-inactive-bg:           #a688a7;
$tab-inactive-accent-color: #ddd;
$tab-inactive-color:        white;

$tab-hover-bg:              #b495b5;
$tab-hover-accent-color:    $accent-color;
$tab-hover-color:           $tab-inactive-color;

$tab-active-bg:             $card-bg;
$tab-active-accent-color:   #877488;
$tab-active-color:          $accent-color;

$tab-bubble-bg:             white;

$tab-secondary-strip-bg:     #e4e4e4;
$tab-secondary-accent-color: #ccc;

$tab-secondary-active-bg:    $tab-active-bg;
$tab-secondary-active-accent-color: $accent-color;
$tab-secondary-active-color: $tab-active-color;
$tab-secondary-active-border-color: #e8e8e8;

$tab-secondary-hover-bg:     $tab-secondary-active-bg;
$tab-secondary-hover-accent-color: $tab-hover-accent-color;
$tab-secondary-hover-color:  $tab-secondary-active-color;

$tab-secondary-inactive-bg:  #efefef;
$tab-secondary-inactive-accent-color: #ddd;
$tab-secondary-inactive-color: #2ea1b8;

/* Terminal */

   $terminal-bg: #333;
$terminal-color: #ddd;

/* Expanders */

$expand-color: #555;

/* Code sections */

$code-color: #ddd;
   $code-bg: #333;

/* Results/Tabular content */

$supplement-color: #555; /* units, etc */
     $value-color: #222;
       $key-color: #450063;

/* Directory View */
$directory-normal-color:   $link-color;
$directory-linked-color:   hsl(290, 80%, 75%);
$directory-group-color:    $link-color;
$directory-size-color:     #888;
$directory-caption-color:  #555;
$directory-hover-bg:       hsla(191, 61%, 93%, 1);
$directory-group-bg:       #f5f5ff;
$directory-revision-color: #888;

/* Selector */
$selector-bg:              white;
$selector-hover-bg:        #c764d9;
$selector-color:           #444;
$selector-hover-color:     white;

/* Object Selection */
$object-selector-bg:          $selector-bg;
$object-selector-hover-bg:    $selector-hover-bg;
$object-selector-color:       $selector-color;
$object-selector-hover-color: $selector-hover-color;

/* Test Viewer */
$test-viewer-header-color: $sub-header-color;
$test-viewer-method-color: $sub-sub-header-color;
$test-viewer-story-color: #333;

/* Roles */
$role-administrator-bg:   hsl(0,   36%, 44%);
$role-experimentalist-bg: hsl(303, 28%, 40%);

/* Side list */
$side-list-bg: $card-bg;

$side-list-inactive-bg:    hsla(0, 0%, 99%, 1);
$side-list-inactive-color: #828282;

$side-list-active-bg:      $object-description-bg;
$side-list-active-color:   white;

/* Admin Page */
$admin-option-color:       #555;

/* Pagination */
$pagination-bg:            #FAEAFA;
$pagination-border-color:  #ddd;

/* Help Bubble */
$help-bg: rgb(245, 234, 251);
$help-color: #3D1F62;
$help-border-color: rgb(174, 133, 219);

/* Delete link */
$delete-link-bg: #ffc0c0;

/* Footers */

$footer-bg: #3F2A40;
$footer-color: #888;
$footer-line-color: #351e35;
$footer-link-color: #a688a7;

/* Sunbeams */

$sunbeam-left-bg:  #8D5E8E;
$sunbeam-right-bg: $object-description-bg;

/* Tooltips */

$tooltip-color: #eee;
$tooltip-bg:    #333;

/* Flash */
$saving-flash-bg: hsl(190, 30%, 50%);
$saving-flash-color: white;
$error-flash-bg: hsl(0, 30%, 50%);
$error-flash-color: white;
$warning-flash-bg: #fffef0;
$warning-flash-color: black;
$warning-flash-border: #e6e3b3;
