// Styling for the "Files" view

.content > .tab-panels > .tab-panel {
  > .file-viewer {
    flex: 1 0 auto;

    display: flex;
    flex-direction: row;

    position: absolute;
    left:   0;
    top:    0;
    right:  0;
    bottom: 0;

    > .card.viewer {
      position: relative;
      overflow: hidden;
      z-index: 9;

      flex-shrink: 0;
      flex-grow:   1;

      width: calc(100% - 400px);
      box-sizing: border-box;

      > h2 {
        border-left: 11px solid #d4d4d4;
      }

      > h2 ~ * {
        height: calc(100% - 54px);
        position: relative;
        overflow: auto;
        display: block;
        margin: 0;
        width: 100%;
        border-left: 1px solid #d4d4d4;
      }

      .viewer-container {
        > .object-viewer {
          height: calc(100% - 31px - 2px);

          > .run-viewer {
            height: 100%;
          }
        }
      }

      .highlight > pre {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        border: none;
        box-sizing: border-box;
        border-top: 1px solid $terminal-bg;
        margin-top: -1px;
        overflow-y: auto;
        display: block;
        margin: 0;
        width: 100%;

        line-height: 0;
        counter-reset: line;

        span.line {
          display: table-row;

          span.line-number {
            display: block;
            display: table-cell;
            line-height: 1.0em;
            white-space: nowrap;

            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;

            border-right: 1px solid #888;
            padding: 0;
            margin: 0;
            text-align: right;

            min-width:   2em;

            &:before {
              white-space: nowrap;
              counter-increment: line;
              content: counter(line);
              display: inline-block;
              padding: 0;
              text-align: right;
              margin-right: 0.5em;
              color: #888;
            }
          }

          code {
            white-space: pre-wrap;
            display: table-cell;
            width: 100%;
            padding-left: 5px;
            line-height: 1.3em;
          }
        }
      }

      .img-container {
        $color: #ececec;
        background-image: linear-gradient(45deg, $color 25%, transparent 25%), linear-gradient(-45deg, $color 25%, transparent 25%), linear-gradient(45deg, transparent 75%, $color 75%), linear-gradient(-45deg, transparent 75%, $color 75%);
        background-size: 40px 40px;
        background-position: 0 0, 0 20px, 20px -20px, -20px 0px;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    > .card {
      min-height: 600px;
      margin-top: 2px;

      > h2 {
        padding-left: 27px;
        padding-right: 20px;
        padding-bottom: 10px;

        position: relative;
        z-index: 9;

        margin-left: -10px;
        border-left: 10px solid #d4d4d4;

        box-shadow: 0px 0px 5px -1px black;

        border-bottom: 1px solid #f3f3f3;

        width: 100%;
      }

      .file-listing-container {
        width: 400px;
        height: calc(100% - 54px);
        overflow-y: auto;
      }

      table.file-listing {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;

        td {
          position: relative;
          color: $directory-normal-color;
          font:  $directory-normal-font;
          padding: 5px;
        }

        tr.group {
          color: $directory-group-color;
          font:  $directory-group-font;

          td.size {
            color: transparent;
          }
        }

        tr.row.add {
        }

        td.truncate {
          &:before {
            content: '&nbsp;';
            visibility: hidden;
          }

          > *:first-child {
            position: absolute;
            left: 0;
            top:  0;
            bottom: 0;
            right: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 5px;
          }

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0;
        }

        tr {
          td:first-child {
            background-repeat: no-repeat;
            background-position-y: 4px;
            background-position-x: 5px;
            padding-left: 30px;
          }

          border-bottom: 1px solid #f3f3f3;

          &:hover {
            background-color: $directory-hover-bg;
          }

          td.size {
            width: 1px;
            text-align: right;
            color: $directory-size-color;
            font:  $directory-size-font;

            &.units {
              width: 25px;
              text-align: left;
              padding-left: 0px;
            }
          }

          td.actions {
            width: 30px;
            padding: 0;

            a.download {
              display: block;
              overflow: hidden;
              text-indent: -9999px;
              background-image: url('/images/ui/download.svg');
              background-repeat: no-repeat;
              background-position: 5px 1px;
              background-size: 16px 16px;
              width: 25px;
              height: 21px;
              opacity: 0.3;

              @keyframes reveal {
                0% {
                  opacity: 0.3;
                }
                100% {
                  opacity: 1.0;
                }
              }

              &:hover {
                animation: reveal 0.2s;
                opacity: 1.0;
              }
            }
          }

          td.name {
          }

          td.revision {
            color: $directory-revision-color;
            font:  $directory-revision-font;
          }
        }
      }
    }
  }
}
