@charset "UTF-8";

form.inline {
  display: inline-block;
}

form.modal {
}

.help + form.modal ,
h2 + form.modal {
  margin-top: 15px;
}

.button {
  display: inline-block;

  border: 1px solid #ccc;
  border-radius: 3px;

  color: #333;
  cursor: pointer;

  padding: 7px 9px;
  margin-top: 10px;

  text-align: center;
  text-decoration: none;

  font: $form-button-font;
}

.button.disabled ,
.button:disabled {
  color: #aaa;
  cursor: default;
}

.button.disabled:hover ,
.button:disabled:hover {
}

.button.disabled:active ,
.button:disabled:active {
  position:relative;
  top:0px;
}

.button.inline {
  margin-top: 0px;
}

.button:active {
  position:relative;
  top:1px;
}

.content a.button:hover {
  text-decoration: none;
}

/* Normal button colors */
.button {
  $start-color: hsl(190, 0%, 100%);
  $end-color: hsl(190, 0%, 90%);

  background-color: rgb(221, 221, 221);
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, $start-color), color-stop(1, $end-color) );
  background:-moz-linear-gradient( center top, $start-color 5%, $end-color 100% );
  background:-ms-linear-gradient( center top, $start-color 5%, $end-color 100% );
  background:linear-gradient( center top, $start-color 5%, $end-color 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0A284B', endColorstr='#135887');

  box-shadow: inset 0px 0px 1px 1px hsl(190, 60%, 100%);

  &:hover {
    box-shadow:inset 0px 0px 1px 1px hsl(190, 60%, 50%);
  }

  &:active {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(190, 0%, 95%)), color-stop(1, hsl(190, 0%, 90%)) );
    background:-moz-linear-gradient( center top, hsl(190, 0%, 95%) 5%, hsl(190, 0%, 90%) 100% );
    background-color: rgb(221, 221, 221);
  }

  &.disabled,
  &:disabled {
    &:active {
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(190, 0%, 100%)), color-stop(1, hsl(190, 0%, 90%)) );
      background:-moz-linear-gradient( center top, hsl(190, 0%, 100%) 5%, hsl(190, 0%, 90%) 100% );
      background-color: rgb(221, 221, 221);
    }

    &:hover {
      box-shadow:inset 0px 0px 1px 1px hsl(190, 60%, 100%);
    }
  }
}

/* "red" button colors */
.button.red {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(0, 0%, 100%)), color-stop(1, hsl(0, 0%, 90%)) );
  background:-moz-linear-gradient( center top, hsl(0, 0%, 100%) 5%, hsl(0, 0%, 90%) 100% );
  background-color: hsl(0, 0%, 40%);

  box-shadow: inset 0px 0px 1px 1px hsl(0, 60%, 100%);

  &:hover {
    box-shadow:inset 0px 0px 1px 1px hsl(0, 60%, 50%);
  }

  &:active {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(0, 0%, 95%)), color-stop(1, hsl(0, 0%, 90%)) );
    background:-moz-linear-gradient( center top, hsl(0, 0%, 95%) 5%, hsl(0, 0%, 90%) 100% );
    background-color: hsl(0, 0%, 40%);
  }

  &.disabled,
  &:disabled {
    &:active {
      background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(0, 0%, 100%)), color-stop(1, hsl(0, 0%, 90%)) );
      background:-moz-linear-gradient( center top, hsl(0, 0%, 100%) 5%, hsl(0, 0%, 90%) 100% );
      background-color: hsl(0, 0%, 40%);
    }

    &:hover {
      box-shadow:inset 0px 0px 1px 1px hsl(0, 60%, 100%);
    }
  }
}

form.modal p   + label ,
form.modal ul  + label ,
form.modal div + label ,
form.modal h3  + label ,
form.modal h2  + label {
  margin-top: 20px;
}

form.modal .card label:not(.checkbox),
form.modal .card label:not(.checkbox),
form.modal > label:not(.checkbox) {
  color: hsl(190, 30%, 35%);
  display: block;
  font: $form-label-font;
  margin-bottom: 10px;
  margin-left: 15px;
}

/* Checkbox Labels */
html > body .content form.modal .card label.checkbox,
html > body .content form.modal > label.checkbox {
  font: $form-checkbox-font;
  margin-left: 15px;
}

html > body .content form.modal .card input[type=text],
html > body .content form.modal .card input[type=password],
html > body .content form.modal .card select,
html > body .content form.modal .card ul.tagit,
html > body .content form.modal > input[type=text],
html > body .content form.modal > input[type=password],
html > body .content form.modal > select,
html > body .content form.modal > ul.tagit {
  box-sizing: border-box;
  padding: 5px;
  width: 600px;
  max-width: calc(100% - 30px);
  margin-bottom: 10px;
  margin-left: 15px;
  font: $form-input-font;
}

form.modal .card input.short,
form.modal > input.short {
  width: 300px;
  margin-left: 15px;
}

form.modal .card textarea,
form.modal > textarea {
  width: 600px;
  height: 200px;
  margin-left: 15px;
}

form.modal .card input.tagit-hidden-field,
form.modal > input.tagit-hidden-field {
  display: none;
}

form > .card > .submit > input[type=submit],
form > .submit > input[type=submit] {
  display: inline-block;

  min-width: 310px;
  margin: 0;
}

form > .card > .submit,
form > .submit {
  background-color: $major-color;

  text-align: center;
  padding: 15px 15px;
}

.errors {
  background-color: hsl(10, 90%, 80%);
  margin-bottom: 10px;
  padding: 8px;
  padding-bottom: 10px;

  border-bottom: 1px solid hsl(10, 60%, 70%);
}

.content .errors h2 {
  margin: 0;
  color: hsl(10, 90%, 30%);
}

.errors ul {
  list-style-type: square;
  list-style-position: inside;
}

.errors ul li {
  color: hsl(10, 30%, 50%);
  margin-bottom: 7px;
}

.errors ul li:last-child {
  margin-bottom: 0px;
}

form.center {
  text-align: center;
}

input.link {
  display: inline-block;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;

  @extend a;

  &:hover {
    @extend a:hover;
  }
}

input:disabled {
  background-color: $input-disabled-bg;
}

.content input.delete.circle {
  background-image: url('/images/remove_item.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  background-color: #dcc;
  background-position: -1px -1px;

  display: inline-block;
  position: relative;
  height: 16px;
  width: 16px;
  color: white;
  border: 1px solid #aaa;
  text-align: center;
  padding: 0;
  line-height: 10px;
  cursor: pointer;
  vertical-align: middle;
  border-radius: 8px;
  text-indent: -9999px;
  top: -1px;
  outline: none;

  &:focus ,
  &:active {
    outline: none;
  }
}
