@charset "UTF-8";

.graph {
  padding-top: 20px;
}

.graph .x.axis text {
  font-family: "Open Sans", sans-serif;
  fill: #ddd;
}

.graph .bars   rect,
.graph .legend rect {
  stroke: #333;
}

.graph .legend text {
  fill: #ddd;
}

.graph .x.axis text.axis-label {
  font-family: "Open Sans", sans-serif;
}

.graph .y.axis text {
  font-family: "Open Sans", sans-serif;
  fill: #ddd;
}

.graph .y.axis text.axis-label {
  font-family: "Open Sans", sans-serif;
  font-size: 14pt;
  fill: hsl(180, 50%, 50%);
}

.graph .y.axis .tick line {
  stroke: hsl(180, 60%, 10%);
}

.graph .x.axis .tick line {
  stroke: hsl(180, 60%, 10%);
}

.graph .y.axis .domain {
  fill: hsl(180, 60%, 10%);
}

.graph .x.axis .domain {
  fill: hsl(180, 60%, 10%);
}
