@charset "UTF-8";

.content .card button.help-bubble {
  font-size: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-left: 7px;
  background: url('/images/occam-help-bubble.svg') no-repeat;
  background-size: 18px 18px;
  background-position: 1px 0px;
  opacity: 0.5;
  text-indent: -9999px;
  padding: 0px !important;
  border: none;
  outline: none;
  cursor: pointer;
}

.content .card h2.offscreen + button.help-bubble {
  position: absolute;
  right: calc(#{$tab-padding} + 20px);
  top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ddd;
  z-index: 99999;

  &:hover {
    background-color: #888;
  }
}

.content .card .help::before {
  content: '';
  display: block;
  position: absolute;
  border: 3px solid #B190D5;

  top: 10px;
  left: 10px;
  width: 33px;
  height: 33px;
  border-radius: 30px;
  background: white;

  background-image: url('/images/help_question_mark.svg');
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 11px;
}

.content .card .help {
  background-color: $help-bg;
  border: 1px solid $help-border-color;
  border-top: 3px solid rgb(174, 133, 219);
  display: block;

  width: 100%;
  max-width: $width;

  margin-left:  $tab-padding;
  margin-right: $tab-padding;

  @media #{$media-fit} {
    margin-left: 0px;
    margin-right: 0px;
  }

  box-sizing: border-box;

  display: block;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;

  font: $help-font;

  margin-top: 10px;
  color: $help-color;

  min-height: 60px;
  opacity: 1;

  -webkit-transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, border-width 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, border-width 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, border-width 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, border-width 0.3s ease-in-out;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out, border-width 0.3s ease-in-out;

  overflow: hidden;

  z-index: 99999;
}

.content .card .help:first-child,
.content .card .offscreen + .help-bubble + .help {
  margin-top: 0px;
  border-top: none;
  width: 100%;
  max-width: 100%;
  margin: 0;
  border-left: none;
  border-top: none;
  border-right: none;
}

.content .card:not(.filled) .help:first-child,
.content .card:not(.filled) .offscreen + .help-bubble + .help {
  margin-top: -20px;
}

.content .card .help p {
  font: $help-font;
  padding-left: 50px;

  &:first-child {
    padding-top: 10px;
  }

  padding-bottom: 10px;
}

.content .card.filled .help {
  &:first-child {
    margin-top: 0px;
  }

  p {
    padding-left: 50px;
    padding-right: 10px;
    text-align: justify;
  }
}

.content .card .help + * {
}

.content .card .help .delete {
  background-image: url('/images/remove_item.svg');
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: 0px 0px;

  display: block;
  position: absolute;
  right: 2px;
  top: 0px;
  height: 14px;
  width: 14px;
  color: white;
  text-align: center;
  padding: 0;
  line-height: 10px;
  cursor: pointer;
  vertical-align:top;
  text-indent: -9999px;
  filter: brightness(70%);
}

.content .card .help .delete:hover {
  filter: brightness(50%);
}

.content .card .help + p {
  padding-top: 20px;
}
