@charset "UTF-8";

.markdown img {
  display: block;
  margin: 0 auto;

  max-width: 80%;
}

.markdown .image img {
}

.markdown a:not(.button) {
  color: hsl(190, 80%, 60%);
}

.markdown h2 {
  clear: both;
  color: white;
  margin-top: 0px;
  padding-top: 20px;
}

.markdown .image.border img {
  border: 1px solid hsl(190, 30%, 35%);
  background-color: hsl(190, 30%, 75%);
  padding: 2px;
}

.markdown .image .caption p {
  font-size: 12px;
  color: hsl(190, 30%, 65%);
  font-family: "Alegreya Sans SC", serif;
}

.markdown .image.right {
  text-align: right;
  float: right;
  clear: both;
  margin-right: 0;
  margin-left: 10px;
}

.markdown .image.left {
  text-align: left;
  clear: both;
  float: left;
  margin-right: 10px;
  margin-left: 0;
}

.markdown .image.fullwidth {
  width: 100%;
}

.markdown .image.fullwidth img {
  width: 100%;
}

.markdown .bar + p {
  margin-top: 20px;
}

.markdown h2 + p {
  margin: 0;
  padding-top: 10px;
}

.markdown p + p {
  margin: 0;
  padding-top: 10px;
}

.content.filled.markdown {
  padding-bottom: 20px;
}

.content.filled.markdown .image img {
  margin: 0;
}

.content.filled.markdown a:not(.button) {
  color: hsl(190, 80%, 30%);
}

.content.filled.markdown h2 {
  color: #A558A1;
}

.content.filled.markdown > * {
  padding-left: 20px;
}

.content.markdown * + ul ,
.content.markdown * + ol {
  margin-top: 20px;
}
