/* This determines the styling for the "Memberships" list which is in the
 * "Memberships" tab for a Person. It lets you add and remove people to
 * groups and see a list of members (which may or may not be obscured.)
 */

/* mixin for multiline */
/* based on Natalia Onischuk's mixin found here:
 * http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/
 */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

ul.memberOf ,
ul.members {
  li {
    height: 100px;
    &:empty {
      height: 0px;
    }

    span {
      display: inline-block;
      vertical-align: middle;
      height: 20px;
      line-height: 20px;
      padding: 5px 0px;

      & a {
        vertical-align: middle;
      }

      &.icon {
        img {
          display: block;
          border-radius: 10px;
          width:  80px;
          height: 80px;
        }
      }

      &.name {
        padding: 0;
        margin-left: 9px;
      }

      &.role {
      }

      &.description ,
      &.description > p {
        display: block;
        height: auto;
        max-height: 58px;
        margin: 0;
        overflow: hidden;
        padding: 0;

        background-color: transparent;
        color: black;

        // Truncate text
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical; 
      }

      &.description > p {
        @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);
      }

      &.description {
        margin-left: 93px;

        // For allowing the ... to appear
        margin-right: -1em;
        padding-right: 1em;
      }
    }

    &:first-child span.icon img {
      width:  20px;
      height: 20px;
      padding: 6px;
    }

    &.reveal {
      animation: reveal-animation 0.3s;
      opacity: 1.0;
    }
  }

  & + .add {
    padding-bottom: 20px;

    .warning {
      background-color: $warning-flash-bg;
      color: $warning-flash-color;
      border: 1px solid $warning-flash-border;
      text-align: center;
      position: relative;

      .delete {
        background-image: url('/images/remove_item.svg');
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: 0px 0px;

        display: block;
        position: absolute;
        right: 2px;
        top: -1px;
        height: 14px;
        width: 14px;
        color: white;
        text-align: center;
        padding: 0;
        line-height: 10px;
        cursor: pointer;
        vertical-align:top;
        text-indent: -9999px;
        filter: brightness(70%);
      }
    }

    form {
      margin-top: 10px;
    }

    .add-person {
      margin-left: 13px;
    }
  }
}
