@charset "UTF-8";

nav.topbar {
  background-color: $top-bar-bg;
  background-image: linear-gradient(to top, #FBFBFB, #F1E5FB);
  z-index: 99999;
  box-shadow: 1px 1px 5px 1px black;
  height: 48px;
  width: 100%;
  margin: 0 auto;
  line-height: 48px;
  position: relative;
  text-align: right;

  @media #{$media-4k} {
    height: 72px;
    line-height: 72px;
  }

  @media #{$media-tablet} {
    height: auto;
  }
}

nav.topbar .logo {
  background: url('/images/logo6_small.png') no-repeat 50% 50%;
  background-size: 119px;
  color: hsl(190, 80%, 70%);
  display: inline-block;
  height: 48px;
  width: 150px;
  letter-spacing: 0.03em;
  line-height: 48px;
  vertical-align: top;
  position: absolute;
  left: 0;
  background-color: #503365;

  @media #{$media-4k} {
    height: 72px;
    line-height: 72px;
  }
}

// The triangular part after the logo
nav.topbar .logo:after {
  content: '';

  position: absolute;
  display: block;

  width: 14px; 
  height: 0; 

  left: 135px;

  border-right: 48px solid transparent;
  border-top: 48px solid #503365;

  @media #{$media-4k} {
    border-width: 72px;
  }
}

// The sunbeam divider
nav.topbar .divider {
  position: absolute;
  display: block;

  width: 14px; 
  height: 0; 

  left: 143px;

  transform: skew(-65deg);

  border-left: 48px solid transparent;
  border-top: 48px solid $sunbeam-left-bg;

  @media #{$media-4k} {
    border-width: 72px;
  }
}

// The second sunbeam
nav.topbar .divider:after {
  position: absolute;
  content: '';
  display: block;

  width: 14px; 
  height: 0; 

  left: -17px;
  top:  -48px;

  transform: skew(-37deg);

  border-left: 48px solid transparent;
  border-top: 48px solid $sunbeam-right-bg;

  @media #{$media-4k} {
    border-width: 72px;
    top: -72px;
    left: -30px;
  }
}

html.embedded nav.topbar {
  text-align: center;
}

nav.topbar .object-info {
  display: inline-block;
  margin:  0 auto;
  vertical-align: middle;
  position: relative;
  top: -3px;

  span {
    display: block;
    font: $workflow-label-name-font;
    color: $workflow-label-name-color;

    &#object-type {
      font: $workflow-label-type-font;
      color: $workflow-label-type-color;
    }
  }
}

nav.topbar ul.navbar {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

nav.topbar ul.navbar.left {
  position: absolute;
  left: 140px;

  @media #{$media-wide} {
    display: none;
  }
  @media #{$media-tablet} {
    display: none;
  }
}

nav.topbar :not(.right) + ul.navbar.right {
  padding-left: 150px;
}

nav.topbar ul.navbar.right {
  @media #{$media-tablet} {
    padding-left: 20px;
  }
}

nav.topbar ul.navbar > li {
  display: inline-block;
  font: $nav-link-font;
  margin: 0;
  padding-right: 10px;
}

nav.topbar ul.navbar li input {
  border: 1px solid #e8e8e8;
  height: 20px;
  padding: 0 5px;
}

@mixin placeholder {
  color: #bbb !important;
  opacity: 1;
}

/* Firefox doesn't accept pseudo-selectors inside comma lists */
nav.topbar ul.navbar li input:-ms-input-placeholder {
  @include placeholder;
}
nav.topbar ul.navbar li input::-moz-placeholder {
  @include placeholder;
}
nav.topbar ul.navbar li input:-moz-placeholder {
  @include placeholder;
}
nav.topbar ul.navbar li input::-webkit-input-placeholder {
  @include placeholder;
}
nav.topbar ul.navbar li input:input-placeholder {
  @include placeholder;
}

nav.topbar ul.navbar li a.dropdown,
nav.topbar ul.navbar li #avatar {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  padding: 0px;

  @media #{$media-4k} {
    height: 72px;
    line-height: 72px;
  }
}

nav.topbar ul.navbar li #avatar img {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  vertical-align: middle;
  background-color: white;
  border: 1px solid #c5c5c5;

  @media #{$media-4k} {
    height: 36px;
    width:  36px;
  }
}

nav.topbar ul.navbar li #username {
  color: $nav-username-color;
  display: inline-block;
  padding-right: 12px;
}

nav.topbar ul.navbar li p {
  display: inline-block;
  margin-right: 5px;
}

nav.topbar ul.navbar > li > a {
  color: $nav-link-color;
  //background-color: $nav-link-bg;
  //border: 1px solid $nav-link-border-color;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 8px;
}

nav.topbar ul.navbar > li > a:hover {
  text-decoration: underline;
}

nav.topbar ul.navbar.jobs {
  margin-left: 10px;
}

nav.topbar ul.navbar li#job-progress .task-selector {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  margin-right: 10px;
  text-align: center;
  position: relative;
  vertical-align: top;

  @media #{$media-4k} {
    height: 72px;
  }
}

nav.topbar ul.navbar li#job-progress .task-selector span {
  margin: 0 auto;
}

nav.topbar ul.navbar li#job-progress .task-selector span.task-number {
  color: #777;
  color: #333;
  font: 600 12px "Open Sans", sans-serif;
}

nav.topbar ul.navbar li#job-progress .task-selector span.task-count {
  color: #333;
  font: 600 12px "Open Sans", sans-serif;
}

nav.topbar ul.navbar li#job-progress .task-selector .previous {
  cursor: pointer;
  display: inline-block;
  color: #888;
  position: absolute;
  top: 4px;
  line-height: 1em;
  width: 100%;
  left: 0;
}

nav.topbar ul.navbar li#job-progress .task-selector .next {
  cursor: pointer;
  display: inline-block;
  color: #888;
  position: absolute;
  bottom: 4px;
  line-height: 1em;
  width: 100%;
  left: 0;
}

nav.topbar ul.navbar li#job-progress .current-task {
  display: inline-block;
  height: 48px;
  margin-right: 10px;
  vertical-align: top;

  @media #{$media-4k} {
    height: 72px;
  }
}

nav.topbar ul.navbar li#job-progress .current-task .label.name {
  font: $workflow-label-name-font;
  color: $workflow-label-name-color;
  position: relative;
  top: 8px;
}

nav.topbar ul.navbar li#job-progress .current-task .label.type {
  font: $workflow-label-type-font;
  color: $workflow-label-type-color;
  position: relative;
  top: 9px;
}

nav.topbar ul.navbar li#job-progress .container {
  background-color: #cfc;

  border-left: 5px solid #ada;
  border-right: 5px solid #ada;
  border-top: 1px solid #ada;
  border-bottom: 1px solid #ada;

  display: inline-block;
  height: 30px;
  width:  30px;

  margin-right: 10px;
  position: relative;
  top: 9px;
}

nav.topbar ul.navbar li#job-progress {
  height: 48px;
  line-height: 48px;
  position: relative;
}

nav.topbar ul.navbar li#job-progress > span {
  color: #444;
  vertical-align: top;
  margin-right: 6px;
}

nav.topbar ul.navbar li#job-progress > span.job-title a {
  color: $nav-username-color;
  margin-left: 10px;
}

nav.topbar ul.navbar li#job-progress ul {
  display: inline-block;
}

nav.topbar ul.search li a {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  text-indent: -9999px;
  text-align: left;

  background-image: url("/images/icons/search.svg");
  background-size: 100% 100%;

  width: 21px;
  height: 21px;

  padding: 0;
  margin: 0;

  @media #{$media-4k} {
    height: 48px;
    width: 48px;
  }
}
