/* This styles the generic object view. Stuff like the headers, tags,
 * description, and the icons.
 */

@charset "UTF-8";

/* Header */

html body .content h1 {
  position: relative;
  overflow: hidden;
  background-color: $header-bg;
  background-image: url('/images/ui/header_bg_left.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  color: $header-color;
  font: $header-font;
  padding-bottom: 15px;
  min-height: 101px;

  @media #{$media-tablet} {
    /* Push the buttons to the top, remove dead-space */
    padding-top: 0;
    min-height: 107px;

    padding-bottom: 10px;
  }
}

html body .modal-window .content h1 {
  min-height: 50px;
  padding: 0;
  padding-bottom: 7px;

  .large-icon {
    width: 40px;
    top: 20px;

    @media #{$media-tablet} {
      top: 4px;
    }
  }

  .organization ,
  .name {
    padding-left: 89px;
  }
}

/* Progress bar for dynamic page loading */
.content .sub-pjax-progress ,
.content h1 .pjax-progress {
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;

  &:after {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0%;
    height: 3px;
    content: "";
    background-color: $accent-color;
  }
}

.content .sub-pjax-progress {
  position: relative;
  top: 1px;
  margin-bottom: -3px;
  z-index: 9;

  &:after {
    background-color: $object-description-bg;
  }
}

/* Saving... box */

.content h1 .flash {
  position: absolute;
  top: 10px;
  border-radius: 3px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  text-align: center;
  vertical-align: middle;
  min-height: 30px;
  line-height: 30px;
  padding: 2px;
  box-shadow: 0px 0px 8px 1px #111;

  .spinner {
    vertical-align: middle;
    display: inline-block;
  }
}

.content h1 .error.flash {
  background-color: $error-flash-bg;
  color: $error-flash-color;
  font: $error-flash-font;
}

.content h1 .saving.flash {
  background-color: $saving-flash-bg;
  color: $saving-flash-color;
  font: $saving-flash-font;
}

/* Object Top-Navigation */

.content h1 nav {
  top: 0px;
  left: 0px;
  line-height: 34px;
  background-color: #416e77;
  width: 100%;
  border-bottom: 1px solid #092227;
  box-shadow: 1px 1px 4px 0px black;

  @media #{$media-tablet} {
    position: relative;

    ul {
      line-height: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  ul {
    height:  34px;
    line-height: 34px;

    li {
      display: inline-block;
      font:    $header-nav-font;
      height:  34px;
      line-height: 34px;
      vertical-align: top;
      overflow: hidden;

      .icon {
        background-position: 17px 6px;
        background-size: 20px;
        padding-left: 43px;
        font:    $header-nav-font;
        min-height: 26px;
        line-height: 26px;
      }

      a.icon {
        color: white;
        vertical-align: top;
        display: inline-block;
        height: 26px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 5px;
        font:    $header-nav-font;
        line-height: 26px;
        background-color: #215965;
        position: relative;
        z-index: 9;

        &:hover {
          text-decoration: none;
        }
      }

      &:last-child {
        padding-right: 10px;

        &:after {
          vertical-align: top;
          height: 34px;
          width: 34px;
          line-height: 26px;
          content: '';
          color: #BFBFBF;
          display: inline-block;
          position: absolute;
          right: -5px;
          z-index: 0;
          background-color: #215965;
          transform: scaleX(0.5) rotate(45deg);
          box-shadow: 0px 0px 7px 1px $major-color inset;
        }
      }

      &:before {
        vertical-align: top;
        height: 34px;
        width: 34px;
        line-height: 26px;
        content: '';
        color: #BFBFBF;
        display: inline-block;
        position: absolute;
        left: -19px;
        z-index: 99;
        background-color: #215965;
        transform: scaleX(0.5) rotate(45deg);
        box-shadow: 0px 0px 7px 1px $major-color inset;
      }

      &:first-child {
        a.icon {
          padding-left: 35px;
          background-position: 9px 6px;
        }

        &:before {
          content: none;
        }
      }

      &:hover {
        @keyframes highlight {
          0% {
            background-color: #215965;
          }
          100% {
            background-color: #2e717f;
          }
        }

        a.icon {
          animation-name: highlight;
          animation-duration: 0.3s;
          background-color: #2e717f;
        }

        + li:before {
          animation-name: highlight;
          animation-duration: 0.3s;
          background-color: #2e717f;
        }

        &:after {
          animation-name: highlight;
          animation-duration: 0.3s;
          background-color: #2e717f;
        }
      }
    }
  }
}

.content ul.bookmarks li.bookmark > .large-icon ,
.content h1 .large-icon {
  width: 76px;
  height: 76px;
  padding: 10px;

  @media #{$media-tablet} {
    width: 48px;
    height: 48px;
    padding: 0;
    border-width: 2px;
  }
}

.content h1 .large-icon {
  position: relative;
  margin-bottom: 5px;
  background-size: 70%;
  background-position: 50% 50%;
  top: 0px;
  margin-top: 13px;
}

.content h1 nav ~ .large-icon {
  margin-top: 0px;
}

.content h1.rtl .large-icon {
  right: 15px;
  float: right;
}

.content h1:not(.rtl) .large-icon {
  left: 15px;
  float: left;
}

.content h1 .large-icon img.avatar {
  width: 96px;
  height: 96px;
  position: relative;
  left: -2px;
  top: -2px;
  border-radius: 15px;
  background-color: white;
  border: 2px solid $object-description-bg;

  @media #{$media-tablet} {
    width: 48px;
    height: 48px;
    background-size: 48px;
    border-width: 2px;
  }
}

.content h1 .statistics {
  position: absolute;
  right: 0%;
  bottom: 10px;
}

.content h1.rtl .statistics {
  right: auto;
  left: 0%;
}

.content h1 .statistics ul.roles li.administrator {
  background-color: $role-administrator-bg;
}

.content h1 .statistics ul.roles li.experimentalist {
  background-color: $role-experimentalist-bg;
}

.content h1 .type {
  letter-spacing: 0.05em;
  display: block;
  padding-left: 131px;
  margin-top: 14px;

  color: $object-type-color;
  font: $object-type-font;

  height: 32px;

  padding-right: 165px;

  @media #{$media-tablet} {
    padding-right: 15px;
    padding-left: 80px;
    padding-bottom: 3px;
    margin-top: -4px;
  }

  z-index: 999;

  a {
    position: relative;
    bottom: -15px;
    color: $object-type-color;
    font: $object-type-font;
  }

  ul {
    position: relative;
    bottom: -15px;
    display: inline-block;

    li {
      display: inline-block;
      color: #888;
    }
  }
}

.content h1 nav ~ .type {
  margin-top: 0px;
}

.content h1 .large-icon + .name ,
.content h1 .statistics + .name {
  margin-top: 41px;

  &:last-child {
    margin-top: 40px;
  }

  @media #{$media-tablet} {
    margin-top: 7px;
  }
}

.content h1 .name {
  display: block;
  padding-left: 129px;
  padding-right: 175px;
  color: $header-color;
  margin-bottom: 6px;
  word-wrap: break-word;

  a {
    color: $header-color;
    &:hover {
      text-decoration: none;
    }
  }

  @media #{$media-tablet} {
    padding-right: 15px;

    padding-left: 80px;
    font-size: 18px;
    line-height: 18px;
  }
}

.content h1.rtl .type {
  text-align: right;
  padding-left: 165px;
  padding-right: 129px;

  @media #{$media-tablet} {
    padding-left: 15px;
    padding-right: 80px;
  }
}

.content h1.rtl .name {
  text-align: right;
  padding-left: 175px;
  padding-right: 129px;

  @media #{$media-tablet} {
    padding-left: 15px;
    padding-right: 80px;
  }
}

.content h1 + .bar {
  height: 4px;
  margin-top: 1px;
  background-color: #53455f;
  padding: 0;
  margin-bottom: -1px;
}

.content.markdown h1 + .bar {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 0;
}

.content h1 .parent ,
.content h1 .organization {
  display: block;
  color: $object-sub-header-color;
  font: $object-sub-header-font;
  min-height: 1em;
  padding-left: 131px;

  &:empty {
    height: 0px;
    min-height: 0px;
  }

  @media #{$media-tablet} {
    padding-left: 80px;
  }
}

.content h1.rtl .parent,
.content h1.rtl .organization {
  padding-left:  0;
  padding-right: 131px;
  text-align:    right;

  @media #{$media-tablet} {
    padding-left:  0px;
    padding-right: 80px;
  }
}

/* Tags */

.content {
  > .description {
    position: relative;
    z-index: 999;
    box-shadow: 0px 1px 3px 1px black;
  }

  .description {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    color: $object-description-color;
    background-color: $object-description-bg;
    font: $object-description-font;

    *:not(.tag) > a {
      color: $object-description-color;
      font: $object-description-font;
      text-decoration: underline;
    }

    p {
      font-size: 15px;
    }

    ul, ol {
      padding-left: 30px;

      li {
        margin-top: 10px;
        list-style-type: disc;
      }
    }

    ol {
      li {
        list-style-type: decimal;
      }
    }

    ol + p ,
    ul + p {
      margin-top: 10px;
    }

    * + ul.tags {
      margin-top:  15px;
      padding-left: 0;
    }

    ul.tags li {
      position: relative;

      background-color: $object-tag-bg;
      border: 1px solid $object-tag-border-color;

      border-radius: 10px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;

      display: inline-block;
      line-height: 1em;

      padding: 0px 5px;
      padding-bottom: 1px;
      padding-left: 10px;
    }

    ul.tags li:after {
      content: '';
      position: absolute;

      background-color: $object-description-bg;

      width: 4px;
      height: 4px;
      left: 3px;
      top: 7px;

      border-radius: 3px;
      border-color: $object-tag-border-color;
    }

    ul.tags li a {
      color: $object-tag-color;
      font: $object-tag-font;
      text-decoration: none;
    }

    ul.tags li a:hover,
    ul.tags li a:focus {
      color: $object-tag-hover-color;
      background-color: $object-tag-hover-bg;
      text-decoration: none;
    }
  }
}

/* Side Buttons */
.content h1:not(.rtl) .statistics ul li:first-child {
  border-top-left-radius: 3px;
  @media #{$media-tablet} {
    border-top-left-radius: 0;
  }
}

.content h1:not(.rtl) .statistics ul li:last-child {
  border-bottom-left-radius: 3px;
  @media #{$media-tablet} {
    border-bottom-left-radius: 0;
  }
}

.content h1.rtl .statistics ul li:first-child {
  border-top-right-radius: 3px;
  @media #{$media-tablet} {
    border-top-right-radius: 0;
  }
}

.content h1.rtl .statistics ul li:last-child {
  border-bottom-right-radius: 3px;
  @media #{$media-tablet} {
    border-bottom-right-radius: 0;
  }
}

@mixin side-button {
  display: block;
  box-sizing: border-box;
  width: 178px;
  padding: 7px 10px;
  padding-left: 38px;
  font: 300 9pt Lato, sans-serif;
  color: white;
  text-align: left;
  line-height: 16px;

  background-color: #204F58;
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: 19px;

  @media #{$media-tablet} {
    width: 100%;
  }
}

@mixin side-button-rtl {
  background-position: 150px 50%;
  padding-left:        7px;
  padding-right:       38px;
}

.content h1 .statistics {
  @media #{$media-tablet} {
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }

  ul {
    @media #{$media-tablet} {
      position: relative;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      line-height: 0px;
      background-color: #25474e;
    }

    li {
      display: block;
      position: relative;
      overflow: hidden;

      @media #{$media-tablet} {
        display: inline-block;
        width: calc(50% - 1px);
      }
    }
    &.roles li {
      @include side-button;

      @media #{$media-tablet} {
        display: inline-block;
      }
    }

    li a {
      @include side-button;
    }

    li form input {
      @include side-button;

      height: 30px;
      border: none;
      margin: 0;
      cursor: pointer;
    }

    li:not(.disabled) form input,
    li:not(.disabled) a {
      background-color: #357C8A;
      cursor: pointer;
    }

    li a:hover {
      text-decoration: none;
    }

    li:not(:last-child) {
      border-bottom: 1px solid #2C6571;
      @media #{$media-tablet} {
        border: none;
        border-right: 1px solid #2C6571;
      }
    }

    &.roles li:not(:last-child) {
      border-bottom: 1px solid #173238;
      @media #{$media-tablet} {
        border: none;
      }
    }
  }
}

.content h1.rtl .statistics {
  ul {
    &.roles li {
      @include side-button-rtl;

      text-align: right;
    }

    li a {
      @include side-button-rtl;

      text-align: right;
    }

    li form input {
      @include side-button-rtl;

      text-align: right;
    }
  }
}

.content h1 .statistics {
  z-index: 99;
}

.content h1 .statistics ul li:not(.disabled) form input,
.content h1 .statistics ul li:not(.disabled) a {
  &:hover, &:focus {
    background-color: #3C98AA;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 0 3px 3px $focus-color;
  }
}

.content h1 .statistics > ul > li.visibility.private a ,
.content h1 .statistics > ul > li.visibility.private form input {
  background-image: url('/images/public_locked.png');
}

.content h1 .statistics > ul > li.visibility.public a ,
.content h1 .statistics > ul > li.visibility.public form input {
  background-image: url('/images/public_unlocked.png');
}

.content h1 .statistics > ul > li.fork a {
  background-image: url('/images/fork.svg');
}

.content h1 .statistics > ul > li.bookmark form input {
  background-image: url('/images/bookmark.svg');
}

.content h1 .statistics > ul > li.trust a ,
.content h1 .statistics > ul > li.trust form input {
  background-image: url('/images/trust.svg');
}

.content h1 .statistics > ul > li.trusted a ,
.content h1 .statistics > ul > li.trusted form input {
  background-image: url('/images/trusted.svg');
}

.content h1 .statistics > ul.roles > li.administrator {
  background-image: url('/images/role_administrator.svg');
}

.content h1 .statistics > ul.roles > li.experimentalist {
  background-image: url('/images/role_experimentalist.svg');
}

.content h1 .statistics > ul > li.bookmark_delete form input {
  background-image: url('/images/bookmark_delete.svg');
}

.content h1 .statistics > ul > li.history a {
  background-image: url('/images/history.svg');
}

/* Header Badges */
.content h1 ul.badges {
  display: inline-block;

  li.badge {
    text-indent: -9999px;
    overflow:hidden;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: auto 20px;
    background-repeat: no-repeat;
    vertical-align: middle;

    &.trusted {
      background-image: url('/images/trusted.svg');
    }
  }
}

/* QR Code */
img.qrcode {
  width: 240px;
  height: 240px;
}

/* Widget */

.card {
  > .widget-label {
    padding: 0;
    border: 1px solid #ddd;
    background-color: #eee;
    text-align: center;

    input.button {
      margin: 0px;
      margin-right: 20px;
    }
  }
}

/* Screenshots */

table.images {
  background-color: black;
}

table.images tr:first-child td:first-child {
  width: 66%;

  img {
    vertical-align: middle;
  }
}

table.images tr:not(:first-child) td {
  width: 33%;
}

table.images img {
  width: 100%;
  margin: auto auto;
}

h1 * {
  position: relative;
  z-index: 9;
}

/* Authors/Collaborators list */

.authors.section {
  margin-top: 20px;
  margin-right: 40px;
  display: inline-block;
  vertical-align: top;
  padding-right: 20px !important;
}

.collaborators.section {
  margin-top: 20px;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  padding-left: 20px !important;
}

ul.people {
  margin-left: -2px;
  margin-bottom: 15px;
}

ul.people li:not(:last-child) {
  margin-bottom: 5px;
}

ul.people li.new:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 24px;
  border: 2px solid #eee;
  background-image: url('/images/add.png');
  background-size: 24px 24px;
  background-position: -2px -2px;
}

ul.people li.new {
  position: relative;
}

ul.people li.new input {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  height: 16px;
  border: 1px solid #ccc;
  padding: 2px 5px;
  width: 150px;
}

ul.people li.new input.button {
  width: 70px;
  height: 22px;
  line-height: 10px;
}

ul.people li .avatar {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  vertical-align: middle;
  margin-right: 10px;
}

ul.people li .avatar + a {
  vertical-align: middle;
}

ul.people li form {
  display: inline-block;
  margin-left: 10px;
}

ul.people li form input.link:not(.button) {
  font-size: 10px;
  color: #ccc;

  &:hover {
    color: $link-color;
  }
}

.content .card .directory tr.row.add .selector {
  vertical-align: middle;
}

.content .card .directory tr.row.add input {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 3px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
}

.content .card .directory tr.row.add input.button {
  padding: 2px;
  margin: 0;
  width: 100px;
  vertical-align: middle;
  height: 32px;
}

.content table.directory {
  margin-top: 10px;
  width: $width;
}

.content h2.offscreen + .help-bubble + .help + table.directory {
  margin-top: 0;
}

.content .filelists {
  position: relative;
}

.content .filelists table.directory {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;

  + table.directory {
    left: 50%;
    top: 0;
  }
}

body > .draggable {
  z-index: 999999;
  position: fixed !important;
  left: 0;
  top: 0;
  cursor: pointer;
}

.dragging-area,{
  width: 100%;
  height: 100%;
  z-index: 99999;
  position: fixed;
  left: 0;
  top: 0;
  cursor: pointer;
}

table.directory {
  border-top: 1px solid #eee;

  &.draggable {
    background-color: #f8f8f8;
  }

  table.directory {
    border: none;
    border-left: 1px solid #eee;
  }

  tr.row:not(.add):not(.tree) > td {
    border-bottom: 1px solid #eee;
  }

  tr.row:not(.add):not(.tree) > td.actions {
    padding-right: 15px;
  }

  tr.row.group:not(.add):not(.tree) > td {
    background-color: $directory-group-bg;
  }

  table.directory tr.row:not(.add):first-child > td {
    border-top: none;
  }

  table.directory tr.row:not(.add) > td {
    border-left: none;
    border-right: none;
  }

  tr.row:not(.add) td:first-child {
    border-left: 1px solid #eee;
  }

  tr.row:not(.add) td:last-child {
    border-right: 1px solid #eee;
  }

  .content table.directory tr.row.tree > td {
    padding: 0;
    padding-left: 20px;
  }

  .content table.directory tr.row.tree table.directory {
    margin: 0;
  }

  li {
  }

  &.information {
    position: relative;

    margin-left: $content-padding;
    margin-right: $content-padding;

    &.input-sets {
      margin-left: -1px;
    }

    .row {
    }

    .row > td {
      vertical-align: top;

      padding-bottom: 8px;
      padding-left:   5px;
      padding-top:    8px;

      white-space: nowrap;

      font:  $directory-normal-font;
      color: $directory-normal-color;
    }

    .group.row > td {
      font:  $directory-group-font;
      color: $directory-group-color;
    }

    .row > td + td {
    }

    .row > td.size {
      font:  $directory-size-font;
      color: $directory-size-color;
    }

    .row > td.name {
      width: 100%;
    }

    .row > td.size {
      text-align: right;
    }

    .row > td + td {
      padding-left: 5px;
    }

    .row > td.name > a {
      color: $directory-normal-color;
    }

    .row.linked > td.name > a {
      color: $directory-linked-color;
    }

    .row.group > td.name > a {
      color: $directory-group-color;
    }

    .row:not(.tree):not(.upload):not(.header) > td:first-child {
      padding-left: 39px;

      background-repeat: no-repeat;
      background-position: 11px 50%;
      background-size: 20px;
    }

    .row:not(.tree):not(.upload) > td.checkbox:first-child {
      padding-left: 10px;
      padding-right: 30px;

      background-position: 38px 50%;
      background-size: 20px;
    }

    .row.add:not(.tree):not(.upload) > td:first-child {
      background-image: url("/images/add.png");
      background-repeat: no-repeat;
      background-position: 6px 50%;
      background-size: 24px;
    }

    tr.header > td {
      font:  $directory-caption-font;
      color: $directory-caption-color;

      padding-top: 16px;
      padding-bottom: 4px;
      padding-left: 10px;
    }

    .row > td.expand {
      color: $expand-color;
      vertical-align: top;
      font-size: 12px;
      text-align: center;
      width: 1em;
      max-width: 1em;
      min-width: 1em;
    }
  }

  tr.row:not(.add):not(.tree):hover > td {
    background-color: $directory-hover-bg;
  }

  tr td span.revision {
    color: $directory-revision-color;
    font:  $directory-revision-font;
  }
}

// Bookmarks list

.content .card > ul.bookmarks {
  padding: 0 !important;

  margin-left:  $tab-padding;
  margin-right: $tab-padding;

  @media #{$media-fit} {
    margin-left:  0px;
    margin-right: 0px;
  }

  li.bookmark {
    background-color: #F5F5FF;
    padding: 20px;
    border-bottom: 1px solid #ddd;

    .large-icon {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      background-color: rgb(21, 38, 41);
    }

    &:last-child {
      border: none;
    }
  }
}

table.directory.information .row:not(.tree):not(.upload):not(.header) > td:first-child {
  padding-left: 59px;
  background-position: 11px 50%;
  background-size: 20px;
  background-repeat: no-repeat;
}

table.directory.information .row:not(.tree):not(.upload) > td.checkbox:first-child {
  background-position: 25px 50%;
}

/* Paper card page listing */
.content .card .directory.information tr.row td.actions a {
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     20px 20px;

  display:             inline-block;

  width:               20px;
  height:              20px;
  line-height:         20px;

  text-indent:         -9999px;
  overflow:            hidden;

  vertical-align:      middle;

  border: none;
  margin: 0;
  padding: 0;

  &.up {
    background-image: url('/images/ui/up.png');

    &:hover {
      background-image: url('/images/ui/up_hover.png');
    }
  }

  &.down {
    background-image: url('/images/ui/down.png');

    &:hover {
      background-image: url('/images/ui/down_hover.png');
    }
  }

  &.delete {
    background-image: url('/images/remove_item.svg');
  }
}

/* Edit description/profile link */

.content .edit-profile-link {
  margin-top: 5px;
}

.content .edit-profile-link a.edit-profile {
  color: hsl(190, 60%, 85%);

  font-size: 12px;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
}

.content.embed .tab-panels.runner {
  height: calc(100vh - 167px);
}

.content.embed.minimal .tab-panels.runner {
  height: calc(100vh - 36px);
}

.content .tab-panels .tab-panels.runner {
  min-height: 476px;
}

/* Widget iframe */

.card.object-viewer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  //flex: 1 0;

  & ~ .card.separator {
    flex: 0 0;

    & + .card {
      background-color: #565656;
    }
  }
}

html.embedded .content > ul.tab-panels > li.tab-panel > .card:first-child {
  margin-top: 0;
  min-height: calc(100vh - 90px);

  & + .card.terminal {
    margin-top: 0;
  }

  &.filled {
    min-height: calc(100vh - 50px);
  }

  &.object-viewer {
    min-height: calc(100vh - 120px);
    height: calc(100vh - 120px);
  }
}

html.embedded .content.embed.minimal > ul.tab-panels > li.tab-panel > .card:first-child {
  min-height: none;
}

.content ul.empty {
  padding: 20px;
  margin:  0 !important;

  p.empty {
    text-align: center;
    padding: 25px;
    border: 3px solid #d4d4d4;
    border-radius: 11px;
    color: #c1c1c1;
    background-color: white;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      right: 4px;
      bottom: 4px;

      border: 3px solid #888;
      border-radius: 5px;
    }
  }
}
