@charset "UTF-8";

nav.pagination {
  &:not(:first-child) {
    border-top: 1px solid $pagination-border-color;
    border-bottom: 1px solid $pagination-border-color;
  }

  &:last-child {
    padding-bottom: 11px;
  }

  background-color: $pagination-bg;
  padding: 10px;
  text-align: center;


  background-image:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(190, 0%, 100%)), color-stop(1, hsl(190, 0%, 93%)) );
  background-image:-moz-linear-gradient( center top, hsl(190, 0%, 100%) 5%, hsl(190, 0%, 93%) 100% );
  background-image:-ms-linear-gradient( to top, hsl(190, 0%, 93%), hsl(190, 0%, 100%));
  background-image:linear-gradient( to top, hsl(190, 0%, 93%), hsl(190, 0%, 100%));
  background-color: hsl(190, 0%, 40%);

  ul {
    max-height: 24px;

    li {
      display: inline-block;
      line-height: 1.5em;
      max-height: 24px;

      &.active {
        width: 24px;
        height: 24px;
        border: 1px solid #d3d3d3;
        border-radius: 3px;
        border-top-color: #cdcdcd;
        border-left-color: #cdcdcd;
        box-shadow: inset 0 0 3px 1px #dfdfdf;
        background-color: hsl(0, 0%, 99%);
        color: $major-color;
        font-family: sans-serif;
      }

      &.dots {
        &:nth-child(2):after ,
        &:not(:nth-child(2)):before {
          display: inline-block;
          content: "···";
          color: #aaa;
        }

        &:nth-child(2):after {
          padding-left: 10px;
        }

        &:not(:nth-child(2)):before {
          padding-right: 10px;
        }
      }

      &.active {
        font-weight: bold;
      }

      &:not(:first-child) {
        margin-left: 10px;
      }

      a {
        padding-top: 1px;
        padding-left: 1px;
        width: 23px;
        height: 23px;
        border-radius: 3px;
        display: inline-block;

        &:hover {
          padding: 0;
          border: 1px solid #eee;
          border-bottom-color: #ddd;
          border-right-color: #ddd;
          width: 22px;
          height: 22px;
          box-shadow: inset 0 0 3px 1px #fff, 0 0 2px 0px $focus-color;
          background-color: #efefef;
          text-decoration: none;
        }
      }

      a.previous {
      }

      a.next {
      }
    }
  }
}
