/* This determines the styling for the "Permissions" list which is in the
 * "Access" tab for an object. It lets you turn on "read" and "write" etc
 * privileges.
 *
 * The core motivation is to make the ACL list really trivial to understand
 * from a quick glance. Options can be "on", "off", and not set. In the case
 * they are not set, the properties are inherited. Therefore, the styling in
 * this case is to gray out the "read"/"write" keys so they they aren't the
 * focus.
 *
 * Properties that are set (in the "on" position, or "allowed") will be bold
 * and green. They are the most visible options.
 *
 * Finally, properities that are "off" are red (they are also visible) but
 * not as visible as "on" properties. Therefore, options that are on/off are
 * very visible at quick glance.
 *
 * Avatars and rows in the list in general are large so that you can more
 * easily guide yourself to which person you wish to target. It is important
 * to not make it easy for a person to incorrectly assign properties to the
 * wrong people. There should be adequate padding between rows and very
 * visible indication of who the Person object is that the row describes.
 */

ul.review-links ,
ul.permissions {
  display: table;
  li {
    display: table-row;
    span {
      vertical-align: middle;
      height: 20px;
      line-height: 20px;
      display: table-cell;
      padding: 5px 10px;

      & a {
        vertical-align: middle;
      }

      &.icon {
        img {
          display: block;
          border-radius: 5px;
          width: 32px;
          height: 32px;
        }
      }

      &.name {
      }

      &.role {
      }

      &.key {
        input[name=update] {
          padding-left: 26px;
          background-image: url('/images/ui/public_unlocked_dot.png');
          background-repeat: no-repeat;
          background-position: 0 50%;
          background-size: 16px;

          color: #888;
        }

        &[data-value=on] {
          input {
            background-image: url('/images/ui/public_unlocked_green.png');
            color: #333;

            font-weight: 400;
          }
        }

        &[data-value=off] {
          input {
            background-image: url('/images/ui/public_locked.png');
            color: #333;
          }
        }

        .dropdown-menu-options {
          li {
            a {
              padding-left: 40px;
              width: calc(100% - 48px);
              position: relative;

              &:after {
                content: '';

                background-image: url('/images/ui/public_locked.png');
                background-position: 0% 50%;
                background-repeat: no-repeat;
                background-size: 20px;

                position: absolute;
                left: 10px;
                top:  0px;

                width: 20px;
                height: 100%;
              }

              &:hover:after {
                filter: brightness(200%);
              }
            }

            &:first-child a {
              &:after {
                background-image: url('/images/ui/public_unlocked_green.png');
              }
            }

            &:last-child a {
              &:after {
                background-image: url('/images/ui/public_unlocked_dot.png');
              }
            }
          }
        }
      }
    }

    &:first-child span.icon img {
      width:  20px;
      height: 20px;
      padding: 6px;
    }

    &.reveal {
      animation: reveal-animation 0.3s;
      opacity: 1.0;
    }
  }

  & + .add {
    padding-bottom: 20px;

    .warning {
      background-color: $warning-flash-bg;
      color: $warning-flash-color;
      border: 1px solid $warning-flash-border;
      text-align: center;
      position: relative;

      .delete {
        background-image: url('/images/remove_item.svg');
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: 0px 0px;

        display: block;
        position: absolute;
        right: 2px;
        top: -1px;
        height: 14px;
        width: 14px;
        color: white;
        text-align: center;
        padding: 0;
        line-height: 10px;
        cursor: pointer;
        vertical-align:top;
        text-indent: -9999px;
        filter: brightness(70%);
      }
    }

    form {
      margin-top: 10px;
    }

    .add-person {
      margin-left: 13px;
    }
  }
}
