/* This styles dropdown selectors */

@charset "UTF-8";

.content .card .selector {
  background: url('/images/object.png') no-repeat;
  background-size: 20px auto;
  background-position: 10px 50%;
  display: inline-block;
  border: 1px solid #aaa;
  padding: 5px 30px;
  padding-left: 40px;
  width: 200px;
  height: 20px;
  line-height: 20px;
  margin: 0px 10px;
  cursor: pointer;

  &:not(select) {
    text-align: left;
    box-sizing: content-box;
  }

  background-color: $selector-bg;
  color:            $selector-color;
  font:             $object-description-font;

  position: relative;
  vertical-align: middle;

  .loading {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background-size: 37px;
    background-position: 50% 0px;
  }

  &:hover {
    background-color: $selector-hover-bg;
    color:            $selector-hover-color;
    background-color: #eee;
    color: #444;
  }
}

.content .card select.selector {
  border: 1px solid #aaa;
  height: 32px;
  width: 272px;
}

html > body > .content > .dropdown {
  position: fixed;
  display: none;
  z-index: 99999;
  max-height: 120px;
  overflow-x: hidden;
}

@mixin object-descriptor {
  cursor: pointer;
  width: 100%;
  padding: 5px 0px;
  height: 27px;

  background: none;
  border: none;
  box-sizing: content-box;
  text-align: left;

  &:hover, &:focus {
    background-color: #eee;

    padding: 4px 0px;

    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  h2 {
    display: block;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    background-size: 20px auto;
    height: 26px;
    padding: 0;
    padding-left: 43px;
    color: $workflow-label-type-color;
    font: $workflow-label-type-font;
    white-space: nowrap;
  }

  h2:last-child {
    color: $workflow-label-name-color;
    font: $workflow-label-name-font;
    font-size: 13px;
    line-height: 26px;
  }

  p {
    display: block;
    margin-top: -15px;
    padding: 0;
    padding-left: 43px;
    color: $workflow-label-name-color;
    font: $workflow-label-name-font;
    white-space: nowrap;
  }
}

html > body > .content .object-header {
  @include object-descriptor;

  padding: 4px 0px;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid #ccc;
  }
}

html > body > .content ul.object-list,
html > body > .content > .dropdown {
  width: 264px;
  overflow: auto;
  background-color: white;
  border: 1px solid #aaa;
  overflow-x: hidden;

  li,button {
    @include object-descriptor;
  }
}
