/* This determines the styling for the "Social" content, such as comments.
 */

/* The input field for any comment */
form.comment-field,
form.reply-box {
  textarea {
    /* Keep the textarea from being resized horizontally */
    width: 100%;
    max-width: 100%;
    min-width: 100%;

    /* The starting height */
    min-height: 120px;
    height: 0px;
  }
}

/* The edit field for any comment */
form.edit-field,
form.edit-box {
  textarea {
    /* Keep the textarea from being resized horizontally */
    width: 100%;
    max-width: 100%;
    min-width: 100%;

    /* The starting height */
    min-height: 120px;
    height: 0px;
  }
}

.content p.comment-note {
  font: inherit;
  font-style: italic;
}

// Markdown styling.
.comment .content {
  font-family: "Open Sans";
  h1 {
    font: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 0px;
    background-color: inherit;
    background-image: none;
    color: inherit;
    font-size: 1.4em;
    font-weight: 1000;
  }
  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font: inherit;
    color: inherit;
    font-size: 1em;
    font-weight: 1000;
  }
  h3 {
    font: inherit;
    color: inherit;
    font-size: 1em;
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  ul {
    font: inherit;
    list-style-type: disc;
  }
  ol {
    font: inherit;
    list-style-type: decimal;
  }
}

@mixin revealed() {
  &.revealed {
    textarea {
      @keyframes reply-expand {
        0% {
          height: 0px;
        }
        100% {
          height: 120px;
        }
      }
      animation-duration: .5s;
      animation-name: reply-expand;
      height: 120px;
    }
  }
  textarea {
    min-height: 0px;
    height: 0px;
  }
}

ul.comments {
  margin-top: 20px;
  padding-bottom: 20px;

  form.reply-box {
    @include revealed();
  }
  form.edit-box {
    @include revealed();
    display: block;
  }
  span.replies-link {
    margin-top:   10px;
    padding-left: 15px;
    padding-bottom: 0;
    border-left:  5px solid #eee;

    a.show-replies {
    }
  }
  /* Inline threading */
  & ul.comments {
    margin-top:   10px;
    padding-left: 15px;
    padding-bottom: 0;
    border-left:  5px solid #eee;

    /* Do not let an empty list of replies take up space */
    &:empty {
      margin: 0;
    }
  }

  /* An individual comment */
  li.comment {
    /* The highlighted comment */
    &.active {
      & > .comment-body {
        background-color: #eee;
      }
    }

    span {
      line-height: 30px;
      vertical-align: middle;
      height: 30px;
      display: inline-block;
    }

    /* The avatar icon to accompany the post */
    span.avatar {
      margin-right: 5px;

      img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #e0e0e0;
      }
    }

    &:not(:first-child) {
      margin-top: 15px;
    }

    /* The name of the poster */
    span.name {
      font-weight: bold;
      color: #585858;
    }

    /* The time or time ago the post was made */
    span.time {
    }

    /* The actual content */
    .content {
      margin-top: 5px;
    }
  }
}
