@charset "UTF-8";

html body .card.filled #noVNC_container {
  background-color: #000;
  padding: 0;
  text-align: center;
}

html body .card.filled #noVNC_container canvas {
  margin: 0px auto;
}

html body .card.filled #noVNC_container input {
  margin: 20px auto;
}
