body > .tooltip {
  position: absolute;
  
  left: 0;
  top:  0;

  display: none;
  opacity: 0.0;

  font: $tooltip-font;
  color: $tooltip-color;
  background-color: $tooltip-bg;

  border-radius: 5px;

  padding: 6px 10px;

  text-align: center;

  box-shadow: 0px 0px 3px 1px #111;
  border: 1px solid $tab-strip-bg;

  z-index: 999999999;

  &.reveal {
    @keyframes tooltip-reveal {
      0% {
        opacity: 0.0;
      }
      100% {
        opacity: 1.0;
      }
    }

    animation: tooltip-reveal 0.3s;
    opacity: 1.0;
  }

  &:before {
    content: '';
    width: 7px;
    height: 7px;
    position: absolute;
    left: calc(50% - 3px);
    bottom: -4px;
    background-color: $tab-strip-bg;
    transform: rotateZ(45deg);
    box-shadow: 0px 0px 3px 1px #111;
  }

  &:after {
    content: '';

    width: 14px;
    height: 8px;

    position: absolute;

    left: calc(50% - 7px);
    bottom: -1px;

    background-color: $tooltip-bg;
    border-bottom: 1px solid $tab-strip-bg;
  }
}
