@charset "UTF-8";

/* The collapsing arrow */
.content .card div.collapse {
  width: 10px;
  position: absolute;
  left: 0px;
  height: 100%;
  z-index: 999999;
  cursor: w-resize;

  &.right {
    left: inherit;
    right: 0;
    cursor: e-resize;
  }

  // Highlight the collapse region when the mouse hovers
  &:hover {
    background-color: #ddd;
    opacity: 0.5;
  }

  // When the collapse is closed, show a little bit of a box so people
  // know what they can click to reveal the sidebar and mimic the shadow of
  // the sidebar.
  &.reveal {
    border-right: 1px solid #ddd;
    box-shadow: 2px 0px 20px 1px #ddd;

    cursor: e-resize;

    &:after {
      background-color: white;
      background-image: url('/images/object-add.svg');
      background-size: 30px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      content: '';
      display: block;
      width:   50px;
      height:  50px;
      border-radius: 50px;
      border: 5px solid #C4EAC5;
      position: absolute;
      top: 10px;
      left: 30px;
      filter: grayscale(1.0);
      -webkit-filter: grayscale(1.0);
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 0; 
      height: 0; 
      border-top:    18px solid transparent;
      border-bottom: 18px solid transparent; 
      border-right:  20px solid #C4EAC5; 
      top: 22px;
      left: 16px;
      filter: grayscale(1.0);
      -webkit-filter: grayscale(1.0);
    }

    &.right {
      border-right: none;
      border-left: 1px solid #ddd;
      box-shadow: 0px 2px 20px 1px #ddd;

      cursor: w-resize;

      &:after {
        background-image: url('/images/ui/workflow-add.svg');
        left: inherit;
        right: 30px;
      }

      &:before {
        left: inherit;
        right: 16px;
        border-right: none;
        border-left:  20px solid #C4EAC5; 
      }
    }

    &:hover {
      &:after {
        filter: none;
        -webkit-filter: none;
      }
      &:before {
        filter: none;
        -webkit-filter: none;
      }
    }
  }
}

occam-workflow {
  padding: 0;
}

/* The sidebar region for the workflow editor */
.content .card occam-workflow .sidebar {
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0px;
  background-color: #fff;
  box-shadow: 2px 0px 20px 1px #ddd;
  z-index: 99999;
  overflow-y: hidden;
  overflow-x: hidden;

  &.right {
    left: inherit;
    right: 0;
  }

  h3 {
    margin-top: 15px;
  }

  .object-selection {
    width: 320px;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    box-sizing: border-box;
    border-right: 2px solid #ddd;

    .selector {
      margin: 0;
      margin-top: 20px;
    }

    > h2, li.tab-panel {
      padding-left: 15px;

      h2 {
        padding-left: 0;
      }
    }
  }

  .object-selected {
    height: 130px;

    li.connection {
      position: relative;
      left: calc(50% - 60px);
      top:  25px;

      li.input, li.output {
        max-width: 95px;
        min-width: 95px;

        .label {
          display: block !important;
        }

        &:after ,
        &:before {
          display: none;
        }
      }
    }
  }

  .no-input {
    border-right: 1px solid $help-border-color;
    text-align: justify;
    white-space: normal;
    padding: 10px;
    width: 299px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $help-bg;
    color: $help-color;
    font: $help-font;
  }
}
