%li.test{:class => ["passed", "failed"].include?(test.type) ? test.type : ""}
  %span.type
    - if test.it
      It
    - elsif test.scenario
      Scenario:
    - else
      Name:

  %span.name
    &= test.header

  %span.result
    &= test.type
