%script{:src=>"/js/jquery/jquery.min.js"}
%script{:src=>"/js/d3/d3.min.js"}
%script{:src=>"/js/jquery/jquery-ui-1.10.4.custom.min.js"}
%script{:src=>"/js/perfect-scrollbar/perfect-scrollbar.jquery.js"}
%script{:src=>"/js/jquery.base64.min.js"}
%script{:src=>"/js/jquery.searchlight.js"}
%script{:src=>"/js/jquery.appear.js"}
%script{:src=>"/js/jquery-textfill-master/source/jquery.textfill.min.js"}
%script{:src=>"/js/tagit/tag-it.min.js"}
-# Maybe we should lazy-load these
%script{:type => "text/javascript", :src=>"/js/parsley/parsley.min.js"}
%script{:type => "text/javascript", :src=>"/js/spectrum/spectrum.js"}
%script{:type => "text/javascript", :src=>"/js/uuid.js"}
%script{:type => "text/javascript", :src=>"/js/app.js"}
%script{:type => "text/javascript", :src=>"/js/occam/navigation_state.js"}
%script{:type => "text/javascript", :src=>"/js/occam/card.js"}
%script{:type => "text/javascript", :src=>"/js/occam/importer.js"}
%script{:type => "text/javascript", :src=>"/js/occam/dropdown.js"}
%script{:type => "text/javascript", :src=>"/js/occam/selector.js"}
%script{:type => "text/javascript", :src=>"/js/occam/directory.js"}
%script{:type => "text/javascript", :src=>"/js/occam/file_list.js"}
%script{:type => "text/javascript", :src=>"/js/occam/auto_complete.js"}
%script{:type => "text/javascript", :src=>"/js/occam/workflow.js"}
%script{:type => "text/javascript", :src=>"/js/occam/object.js"}
%script{:type => "text/javascript", :src=>"/js/occam/validator.js"}
%script{:type => "text/javascript", :src=>"/js/occam/vt100.js"}
%script{:type => "text/javascript", :src=>"/js/occam/websocket.js"}
%script{:type => "text/javascript", :src=>"/js/occam/terminal.js"}
%script{:type => "text/javascript", :src=>"/js/occam/tabs.js"}
%script{:type => "text/javascript", :src=>"/js/occam/data_viewer.js"}
%script{:type => "text/javascript", :src=>"/js/occam/run_viewer.js"}
%script{:type => "text/javascript", :src=>"/js/occam/job.js"}
%script{:type => "text/javascript", :src=>"/js/occam/run_topbar.js"}
%script{:type => "text/javascript", :src=>"/js/occam/runner.js"}
%script{:type => "text/javascript", :src=>"/js/occam/configuration.js"}
%script{:type => "text/javascript", :src=>"/js/occam/configurator.js"}
%script{:type => "text/javascript", :src=>"/js/occam/paper.js"}
%script{:type => "text/javascript", :src=>"/js/occam/run_list.js"}
%script{:type => "text/javascript", :src=>"/js/occam/object_tree.js"}
%script{:type => "text/javascript", :src=>"/js/occam/tooltip.js"}
%script{:type => "text/javascript", :src=>"/js/occam/modal.js"}
%script{:type => "text/javascript", :src=>"/js/occam/social.js"}
%script{:type => "text/javascript", :src=>"/js/occam/help.js"}
%script{:type => "text/javascript", :src=>"/js/occam/permissions.js"}
%script{:type => "text/javascript", :src=>"/js/lightbox2-master/dist/js/lightbox.min.js"}
%script{:src => "/js/workflow-widget/workflow.js",  :type => "application/javascript"}

= yield_content :scripts
