.card
  %h2
    Environment

  %form.widget-selection{:name => "widget-selection"}
    %ul.information
      .backend
        %h2
          Backend
        %p
          .select
            %select
              %option
                docker
              %option
                vnc
              %option
                javascript
              - if local_request?
                %option
                  local
