-# Purpose: Displays the results of the search
-#
-# Locals:	types   - Matching object types
-#			    objects - Matching objects (by keyword search)

- help = nil if not defined?(help)

- if not defined?(pagination)
  - pagination = {:pageIndex => 1,
                  :pageItems => 30}

%h1.search
  %img.large-icon.search{:src => "/images/icons/ui/search.svg"}
  .name
    Results
.bar

- if !types.empty?
  .card.filled.object-types.results
    = header(:id   => :output_types,
             :text => "Object Types",
             :help => I18n.t('help.output'))

    %ul.information.results
      - types.each do |type|
        %li.object
          %h2.type.icon{:"data-object-type" => type[:type] }
            %a{:href => "/search?type=#{type[:type] }"}
              #{type[:type] }
          %p

- if !objects.empty?
  .card.filled.objects.results
    = header(:id   => :output,
             :text => "Objects",
             :help => I18n.t('help.output'))

    - if pagination[:pageIndex] && pagination[:pageItems]
      - pagination[:pageCount] = (objects.count.to_f / pagination[:pageItems].to_f).ceil
      - paginationStart = pagination[:pageItems]*(pagination[:pageIndex]-1)
      - paginationEnd   = paginationStart + pagination[:pageItems]
      - objects = objects[paginationStart..paginationEnd-1]

    = partial(:"objects/listview", :locals => {:objects => objects,
                                               :pagination => pagination})

- if types.empty? && objects.empty?
  .card.filled
    %p
      No results.
