@import url("https://fonts.googleapis.com/css?family=Lato:300,400,600");

occam-workflow {
  background-image: url("/images/workflow_editor_bg.png");
  display: block;
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden; }
  occam-workflow .selection {
    display: block;
    position: absolute;
    background-color: rgba(90, 181, 181, 0.33);
    z-index: 9999;
    border-radius: 5px;
    border: 1px solid rgba(70, 161, 161, 0.33); }
  occam-workflow ul.connections li.connection {
    position: absolute;
    display: block;
    width: 90px;
    height: 90px;
    border: 1px solid #ddd;
    border-left-width: 3px;
    border-left-color: #bbb;
    border-right-width: 3px;
    border-right-color: #bbb;
    border-radius: 5px;
    text-align: center;
    z-index: 999;
    background-color: white;
    cursor: pointer;
    padding: 5px; }
    occam-workflow ul.connections li.connection.selected .input-add-button, occam-workflow ul.connections li.connection.selected .output-add-button {
      border-radius: 10px;
      left: -25px;
      bottom: 0px;
      width: 16px;
      height: 16px;
      position: absolute;
      border: 1px solid #ddd;
      background-color: #fff; }
      occam-workflow ul.connections li.connection.selected .input-add-button:before, occam-workflow ul.connections li.connection.selected .output-add-button:before {
        content: "";
        width: 8px;
        height: 2px;
        left: 4px;
        top: 7px;
        position: absolute;
        background-color: #bbb; }
      occam-workflow ul.connections li.connection.selected .input-add-button:after, occam-workflow ul.connections li.connection.selected .output-add-button:after {
        content: "";
        width: 2px;
        height: 8px;
        left: 7px;
        top: 4px;
        position: absolute;
        background-color: #bbb; }
      occam-workflow ul.connections li.connection.selected .input-add-button:hover, occam-workflow ul.connections li.connection.selected .output-add-button:hover {
        border: 1px solid #bbb;
        background-color: #5ab5b5; }
        occam-workflow ul.connections li.connection.selected .input-add-button:hover:before, occam-workflow ul.connections li.connection.selected .output-add-button:hover:before {
          background-color: white; }
        occam-workflow ul.connections li.connection.selected .input-add-button:hover:after, occam-workflow ul.connections li.connection.selected .output-add-button:hover:after {
          background-color: white; }
    occam-workflow ul.connections li.connection.selected .output-add-button {
      left: initial;
      right: -25px; }
    occam-workflow ul.connections li.connection.selected {
      border-color: magenta;
      box-shadow: 0px 0px 10px 2px #eee; }
    occam-workflow ul.connections li.connection .output .label span.name, occam-workflow ul.connections li.connection .input .label span.name {
      color: #1e1e1e; }
    occam-workflow ul.connections li.connection .output .label span.type, occam-workflow ul.connections li.connection .input .label span.type {
      color: #398282; }
    occam-workflow ul.connections li.connection .output .label.revealed, occam-workflow ul.connections li.connection .input .label.revealed {
      display: inline-block !important; }
    occam-workflow ul.connections li.connection > img {
      width: 50px;
      height: 50px;
      display: inline-block;
      text-align: center; }
    occam-workflow ul.connections li.connection > span.name {
      display: block;
      font: 300 14px Lato, sans-serif; }
    occam-workflow ul.connections li.connection > span.type {
      display: block;
      font: bold 12px Lato, sans-serif; }
    occam-workflow ul.connections li.connection ul.inputs {
      padding: 0;
      margin: 0;
      list-style-type: none; }
      occam-workflow ul.connections li.connection ul.inputs div {
        display: none; }
      occam-workflow ul.connections li.connection ul.inputs li.input {
        padding: 0;
        margin: 0;
        display: block;
        position: absolute;
        right: 103px;
        width: 100px;
        height: 30px;
        text-align: right;
        z-index: 99;
        border-bottom: 1px solid #e8b0e0;
        position: absolute; }
        occam-workflow ul.connections li.connection ul.inputs li.input > .label {
          display: inline-block;
          position: absolute;
          right: 0px;
          bottom: 3px;
          white-space: nowrap;
          z-index: 999; }
        occam-workflow ul.connections li.connection ul.inputs li.input > .label > .name {
          display: block;
          padding-right: 10px;
          font: 300 12px Lato, sans-serif; }
        occam-workflow ul.connections li.connection ul.inputs li.input > .label > .type {
          display: block;
          padding-right: 10px;
          font: bold 10px Lato, sans-serif; }
        occam-workflow ul.connections li.connection ul.inputs li.input.disconnected:before {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 11px;
          background-color: #BEEAC4;
          border: 1px solid #9ED4A5;
          position: absolute;
          left: -14px;
          bottom: -5px; }
        occam-workflow ul.connections li.connection ul.inputs li.input.disconnected:after {
          content: "";
          width: 12px;
          height: 12px;
          border-radius: 11px;
          border: 1px solid #ADD89D;
          background-color: transparent;
          position: absolute;
          left: -17px;
          bottom: -8px; }
        occam-workflow ul.connections li.connection ul.inputs li.input.disconnected.selected:before {
          background-color: #CEFAD4;
          border: 1px solid #AEE4B5; }
        occam-workflow ul.connections li.connection ul.inputs li.input.disconnected.selected:after {
          border: 1px solid #BDE8AD;
          box-shadow: 0px 0px 6px 0px #ff7eff; }
        occam-workflow ul.connections li.connection ul.inputs li.input.up {
          border-bottom: 1px solid #e8b0e0;
          border-left: 3px solid #e8b0e0;
          border-bottom-left-radius: 25px; }
        occam-workflow ul.connections li.connection ul.inputs li.input.down {
          border-top: 1px solid #e8b0e0;
          border-bottom: none;
          border-left: 3px solid #e8b0e0;
          border-top-left-radius: 25px; }
          occam-workflow ul.connections li.connection ul.inputs li.input.down span {
            position: relative;
            top: -31px; }
        occam-workflow ul.connections li.connection ul.inputs li.input.left {
          border-top: 1px solid #e8b0e0;
          border-top-left-radius: 25px;
          border-bottom-left-radius: 0px;
          border-bottom: none;
          left: -30px; }
          occam-workflow ul.connections li.connection ul.inputs li.input.left:before {
            content: "";
            display: block;
            position: absolute;
            border-bottom: 1px solid #e8b0e0;
            border-left: 3px solid #e8b0e0;
            border-bottom-left-radius: 25px;
            width: 22px;
            height: 25px;
            bottom: -25px;
            left: -3px; }
        occam-workflow ul.connections li.connection ul.inputs li.input.right {
          border-bottom: 1px solid #e8b0e0;
          border-bottom-left-radius: 25px;
          border-top: none;
          border-top-left-radius: 0px;
          left: -33px; }
          occam-workflow ul.connections li.connection ul.inputs li.input.right:before {
            content: "";
            display: block;
            position: absolute;
            border-top: 1px solid #e8b0e0;
            border-left: 3px solid #e8b0e0;
            border-top-left-radius: 25px;
            width: 30px;
            height: 25px;
            top: -24px;
            left: -3px; }
        occam-workflow ul.connections li.connection ul.inputs li.input.left.backward {
          border-right: 3px solid #e8b0e0;
          border-bottom-right-radius: 0px;
          border-top-right-radius: 25px; }
        occam-workflow ul.connections li.connection ul.inputs li.input.right.backward {
          border-right: 3px solid #e8b0e0;
          border-top-left-radius: 0px;
          border-bottom-right-radius: 25px; }
        occam-workflow ul.connections li.connection ul.inputs li.input.backward:not(.left):not(.right).up {
          border-top: 1px solid #e8b0e0;
          border-top-left-radius: 0px;
          border-bottom-right-radius: 25px;
          border-top: none;
          border-bottom: 1px solid #e8b0e0;
          border-right: 3px solid #e8b0e0;
          border-left: none;
          left: 0px; }
          occam-workflow ul.connections li.connection ul.inputs li.input.backward:not(.left):not(.right).up:before {
            content: "";
            display: block;
            position: absolute;
            border-top: 1px solid #e8b0e0;
            border-bottom: 1px solid #e8b0e0;
            border-left: 3px solid #e8b0e0;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            width: 20px;
            height: 25px;
            bottom: -1px;
            left: -29px; }
        occam-workflow ul.connections li.connection ul.inputs li.input.backward:not(.left):not(.right).down {
          border-top-left-radius: 0px;
          border-top-right-radius: 25px;
          border-top: 1px solid #e8b0e0;
          border-bottom: none;
          border-right: 3px solid #e8b0e0;
          border-left: none;
          left: 0px; }
          occam-workflow ul.connections li.connection ul.inputs li.input.backward:not(.left):not(.right).down:before {
            content: "";
            display: block;
            position: absolute;
            border-top: 1px solid #e8b0e0;
            border-bottom: 1px solid #e8b0e0;
            border-left: 3px solid #e8b0e0;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            width: 20px;
            height: 25px;
            top: -1px;
            left: -29px; }
    occam-workflow ul.connections li.connection ul.outputs {
      padding: 0;
      margin: 0;
      list-style-type: none; }
      occam-workflow ul.connections li.connection ul.outputs div {
        display: none; }
      occam-workflow ul.connections li.connection ul.outputs li.output {
        padding: 0;
        margin: 0;
        display: block;
        position: absolute;
        left: 103px;
        width: 30px;
        text-align: left;
        border-top: 1px solid #e8b0e0;
        position: absolute; }
        occam-workflow ul.connections li.connection ul.outputs li.output .label {
          display: inline-block;
          position: absolute;
          top: -31px;
          white-space: nowrap;
          z-index: 999; }
        occam-workflow ul.connections li.connection ul.outputs li.output > .label > .name {
          display: block;
          padding-left: 10px;
          font: 300 12px Lato, sans-serif; }
        occam-workflow ul.connections li.connection ul.outputs li.output > .label > .type {
          display: block;
          padding-left: 10px;
          font: bold 10px Lato, sans-serif;
          color: #398282; }
        occam-workflow ul.connections li.connection ul.outputs li.output.disconnected:before {
          content: "";
          width: 6px;
          height: 6px;
          border-radius: 11px;
          background-color: #BEEAC4;
          border: 1px solid #9ED4A5;
          position: absolute;
          right: -14px;
          bottom: -5px; }
        occam-workflow ul.connections li.connection ul.outputs li.output.disconnected:after {
          content: "";
          width: 12px;
          height: 12px;
          border-radius: 11px;
          border: 1px solid #ADD89D;
          background-color: transparent;
          position: absolute;
          right: -17px;
          bottom: -8px; }
        occam-workflow ul.connections li.connection ul.outputs li.output.disconnected.selected:before {
          background-color: #CEFAD4;
          border: 1px solid #AEE4B5; }
        occam-workflow ul.connections li.connection ul.outputs li.output.disconnected.selected:after {
          border: 1px solid #BDE8AD;
          box-shadow: 0px 0px 6px 0px #ff7eff; }
        occam-workflow ul.connections li.connection ul.outputs li.output.up {
          border-bottom: 1px solid #e8b0e0;
          border-top: none;
          border-right: 3px solid #e8b0e0;
          border-bottom-right-radius: 25px; }
        occam-workflow ul.connections li.connection ul.outputs li.output.down {
          border-top: 1px solid #e8b0e0;
          border-right: 3px solid #e8b0e0;
          border-top-right-radius: 25px; }
        occam-workflow ul.connections li.connection ul.outputs li.output.left {
          border-top: 1px solid #e8b0e0;
          border-top-right-radius: 25px;
          border-bottom-right-radius: 0px;
          border-bottom: none;
          left: initial;
          right: -30px; }
          occam-workflow ul.connections li.connection ul.outputs li.output.left:before {
            content: "";
            display: block;
            position: absolute;
            border-bottom: 1px solid #e8b0e0;
            border-right: 3px solid #e8b0e0;
            border-bottom-right-radius: 25px;
            width: 22px;
            height: 25px;
            bottom: -25px;
            right: -3px; }
        occam-workflow ul.connections li.connection ul.outputs li.output.right {
          border-bottom: 1px solid #e8b0e0;
          border-bottom-right-radius: 25px;
          border-top: none;
          border-top-right-radius: 0px;
          left: initial;
          right: -33px; }
          occam-workflow ul.connections li.connection ul.outputs li.output.right:before {
            content: "";
            display: block;
            position: absolute;
            border-top: 1px solid #e8b0e0;
            border-right: 3px solid #e8b0e0;
            border-top-right-radius: 25px;
            width: 30px;
            height: 25px;
            top: -24px;
            right: -3px; }
        occam-workflow ul.connections li.connection ul.outputs li.output.left.backward {
          border-left: 3px solid #e8b0e0;
          border-bottom-right-radius: 0px;
          border-top-left-radius: 25px; }
        occam-workflow ul.connections li.connection ul.outputs li.output.right.backward {
          border-left: 3px solid #e8b0e0;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 25px; }
        occam-workflow ul.connections li.connection ul.outputs li.output.backward:not(.left):not(.right).down {
          border-top-left-radius: 25px;
          border-bottom-right-radius: 0px;
          border-bottom: none;
          border-top: 1px solid #e8b0e0;
          border-left: 3px solid #e8b0e0;
          border-right: none;
          left: 0px; }
          occam-workflow ul.connections li.connection ul.outputs li.output.backward:not(.left):not(.right).down:before {
            content: "";
            display: block;
            position: absolute;
            border-top: 1px solid #e8b0e0;
            border-bottom: 1px solid #e8b0e0;
            border-right: 3px solid #e8b0e0;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            width: 20px;
            height: 25px;
            top: 0px;
            right: -29px; }
        occam-workflow ul.connections li.connection ul.outputs li.output.backward:not(.left):not(.right).up {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 25px;
          border-bottom-right-radius: 0px;
          border-top: none;
          border-bottom: 1px solid #e8b0e0;
          border-left: 3px solid #e8b0e0;
          border-right: none;
          left: 0px; }
          occam-workflow ul.connections li.connection ul.outputs li.output.backward:not(.left):not(.right).up:before {
            content: "";
            display: block;
            position: absolute;
            border-top: 1px solid #e8b0e0;
            border-bottom: 1px solid #e8b0e0;
            border-right: 3px solid #e8b0e0;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            width: 20px;
            height: 25px;
            bottom: -1px;
            right: -29px; }
