.card.filled
  - if object.canEdit?
    = header(:id   => :review,
             :text => I18n.t('subheaders.reviewLinks'), 
             :help => I18n.t('help.reviewLinks'))

    %ul.review-links.centered
      - object.review_capabilities.each do |review_capability|
        %li.review-link
          %span.icon
            %img{:src => "/images/link.svg"}>
          %span.date
            #{I18n.l review_capability.published.to_date, :format => :long}
          %span.revision
            #{review_capability.object.revision[0...6]}...
          %span.link
            %a{:href => review_capability.object.url(:query => {"review" => true})}<
              = I18n.t 'common.sharableLink'
            %a.copy{:href => "#", :alt => I18n.t('tooltips.copy'), :title => I18n.t('tooltips.copy'), :hidden => true, :"data-url" => review_capability.object.url(:query => {"review" => true})}<
              = I18n.t 'common.copy'
          %span.remove<
            %form.inline{:action => review_capability.object.url(:path => "review-links"), :method => :post, :name => :remove_review_link}<
              %input{:type => :hidden, :value => 'delete', :name => :_method}<
              %input.link.delete{:type => :submit, :value => "remove", :title => "revoke this review link"}<
    %form.inline{:action => object.url(:path => "review-links", :full => true), :method => :post}
      %input{:type=>:hidden, :name => :review, :value => object.revision}
      %input.link{:type => :submit, :value => I18n.t('fields.addReviewLink')}

  - [:object, :children].each do |section|
    - if section == :object
      = header(:id   => :permissions,
               :text => I18n.t('subheaders.permissions'))
    - else
      = header(:id   => :"child-permissions",
               :text => I18n.t('subheaders.childPermissions'))

    %ul.permissions.centered
      - object.permissions[section].each do |access|
        = partial(:"objects/permissions/row", :locals => {:section => section,
                                                          :object  => object,
                                                          :access  => access})
    .add.centered
      .warning{:hidden => true}
        .person-already-exists
          Person already exists.
        .delete
      .loading{:hidden => true}
      -# The form to add a new person (which is generally hidden)
      %form.inline{:action => object.url(:path => "permissions", :full => true), :method => :post, :hidden => !(params["add"] == section.to_s)}
        %input.auto-complete{:autocomplete       => "off",
                             :"data-object-type" => "person",
                             :value              => "",
                             :placeholder        => I18n.t('fields.placeholders.username'),
                             :name               => "person"}
        %input{:type  => :hidden,
               :value => section,
               :name  => :section}
        %input.button{:type  => :submit,
                      :value => "Add",
                      :name  => :submit}
      - if params["add"] != section.to_s
        %a.add-person{:href => object.url(:path => "access", :query => {:add => section})}
          Add
