.card.terminal.filled
  %h2.offscreen
    = I18n.t 'subheaders.build'

  %ul.tabs.bubble
    %li.tab.active
      %a
        = I18n.t 'tabs.terminal'
    %li.tab
      %a
        = I18n.t 'tabs.pastBuilds'

  %ul.tab-panels
    %li.tab-panel.active
      .fill.terminal#build-terminal{:"data-link-text"       => I18n.t('common.build'),
                                    :"data-terminal-type"   => "build",
                                    :tabindex               => "1",
                                    :"data-object-id"       => object.uuid,
                                    :"data-object-revision" => object.revision,
                                    :"data-account-token"   => (current_account.nil? ? false : current_account.token)}
    %li.tab-panel{:hidden => true}
      = partial(:"objects/pastBuilds", :locals => locals)
