.card.filled
  = header(:text      => I18n.t('subheaders.citation'),
           :help      => I18n.t('help.citation'),
           :id        => :citation)

  %ul.tabs.bubble
    %li.tab
      %a{:"data-pjax" => "true", :href => object.url(:path => "citations/bibtex")}
        BibTeX
    %li.tab
      %a{:"data-pjax" => "true", :href => object.url(:path => "citations/mla")}
        MLA
    %li.tab
      %a{:"data-pjax" => "true", :href => object.url(:path => "citations/harvard")}
        Harvard

  %ul.tab-panels
    %li.tab-panel
      .card
        BibTex
    %li.tab-panel
      .card
        MLA
    %li.tab-panel
      .card
        Harvard
