- path = object.path if (not defined?(path) or path.nil?)

- if not object.isGroup?(object.path)
  - path = File.dirname(object.path)

.card.filled
  %h2.file-listing
    #{I18n.t 'subheaders.listing'} #{path || "/"}

  .file-listing-container
    = partial(:"objects/filelist", :locals => {:object  => object,
                                               :path    => path,
                                               :layout  => layout,
                                               :links   => true})
