.file-viewer
  .card.filled.pending{:hidden => true, :"aria-hidden" => "true"}
    %h2
      #{I18n.t 'subheaders.listing'}
    .file-listing-container.loading

  = partial :"objects/directory", :locals => {:object   => object,
                                              :layout   => layout}

  = partial :"objects/filedata", :locals => {:object => object,
                                             :layout => layout}

  .card.viewer.filled.pending{:hidden => true, :"aria-hidden" => "true"}
    %h2
      #{I18n.t 'subheaders.data'}
    .empty.loading
