- if object.path && object.isWebImage?(object.path)
  .card.viewer.filled
    %h2
      #{File.basename(object.path)} (#{object.fileType(object.path)})

    .img-container
      %img{:src => object.url(:path => "raw/#{object.path}")}
- elsif object.path && object.isText?(object.path)
  .card.viewer.filled
    %h2
      #{File.basename(object.path)} (#{object.fileType(object.path)})

    #{object.highlightedFile(object.path)}

    -#%pre.line-numbers<>
      - for line in object.retrieveFile(object.path).lines()
        %span.line<>
          %span.line-number<>
          -# Ensure the whitespace is preserved.
          -# And that any weirdness is escaped out.
          %code
            :escaped
              #{line.chomp}
- else
  -# Is there a viewer??
  - viewer = nil
  - if object.path
    - data_mime_type = object.fileType(object.path)
    - views_type = data_mime_type.split("/")[0]
    - views_subtype = data_mime_type
    - viewer = Occam::Object.associationFor({:type    => views_type,
                                             :subtype => views_subtype})
    - viewers = [viewer]
    - if not viewer
      - viewers = object.viewers(:subtype => views_subtype, :type => views_type)
      - viewer = viewers[0]

  - if viewer
    .card.viewer.filled
      %h2
        #{File.basename(object.path)} (#{object.fileType(object.path)})

      .viewer-container
        = partial(:"objects/viewer", :locals => {:viewerObject => viewer,
                                                 :view         => "full",
                                                 :file         => object.path,
                                                 :object       => object,
                                                 :viewers      => viewers})
  - elsif object.path && !object.isGroup?(object.path)
    -# Generic unknown data
    .card.viewer.filled
      %h2
        #{File.basename(object.path)} (#{object.fileType(object.path)})

      %p.download
        %a.download{:href => object.url(:path => "raw/#{object.path}")}
          = I18n.t 'common.download'
  - else
    -# A Group
    .card.viewer.filled
      %h2
        #{I18n.t 'subheaders.data'}
      .empty
