-# Create a nav.pagination that will allow navigation through pages of listed
-# content.
-#
-# Locals: pageCount - The total number of pages.
-#         pageIndex - The current page index.
-#         pageItems - The number of items per page.
-#               url - The page to direct to.
-#          truncate - When false, will list links for all pages. When true,
-#                     will list first, last, and adjacent pages. Defaults: true

- if !defined?(truncate) || truncate.nil?
  - truncate = true

- if !defined?(url) || url.nil?
  - url = ""

- if !defined?(pageIndex) || pageIndex.nil?
  - pageIndex = 1

- if !defined?(pageCount) || pageCount.nil?
  - pageCount = 1

- range = (1..pageCount)
- if truncate
  - range = ([1, pageIndex-2].max..[pageCount, pageIndex+2].min)

- if range.count > 0
  %nav.pagination
    %ul
      - if pageIndex > 1
        %li.previous
          %a.previous{:href => "#{url}?pageIndex=#{pageIndex-1}", :alt => I18n.t('alt-text.previous')}<>
            &laquo;

      - if !range.include?(1)
        %li.page{:class => (!range.include?(2) ? "dots" : "")}
          %a.page{:href => "#{url}?pageIndex=1", :alt => I18n.t('alt-text.first')}<>
            1

      - range.each do |index|
        %li.page{:class => (index == pageIndex) ? "active" : ""}
          - if index == pageIndex
            #{index}
          - else
            %a.page{:href => "#{url}?pageIndex=#{index}"}<>
              #{index}

      - if !range.include?(pageCount)
        %li.page{:class => (!range.include?(pageCount-1) ? "dots" : "")}
          %a.page{:href => "#{url}?pageIndex=#{pageCount}", :alt => I18n.t('alt-text.last')}<>
            #{pageCount}

      - if pageIndex < pageCount-1
        %li.next
          %a.next{:href => "#{url}?pageIndex=#{pageIndex+1}", :alt => I18n.t('alt-text.next')}<>
            &raquo;
