%li{:"data-status" => run.info[:finishTime] ? "done" : (run.info[:failureTime] ? "failed" : "running"), :"data-run-id" => run.is_a?(Occam::Run) ? run.info[:id] : false, :"data-job-id" => run.is_a?(Occam::Job) ? run.info[:id] : false}
  %a{:href => "#"}
    %span.status
      .dot
      .dot
      .dot
    %span.date
      = I18n.l(DateTime.iso8601(run.info[:queueTime]), :format => :long)
  - if run.is_a?(Occam::Run)
    %form{:action => object.url(:path => "runs/#{run.id}", :full => true), :method => :post, :name => :"cancel-run"}
      %input{:type => :hidden, :value => 'delete', :name => :_method}
      %input.delete.cancel.link{:type => :submit}
  - else
    - if run.info[:finishTime].nil?
      %form{:action => object.url(:path => "jobs/#{run.id}", :full => true), :method => :post, :name => :"cancel-job"}
        %input{:type => :hidden, :value => 'delete', :name => :_method}
        %input.delete.cancel.link{:type => :submit}
