- viewerObject.info(true)

- if !defined?(preview)
  - preview = false

- if !defined?(label)
  - label = I18n.t('object-selection.using')

- if !defined?(width)
  - width  = "100%"
  - height = "100%"

- viewerSize = viewerObject.info[:size]

- if !defined?(resizeToAspectRatio)
  - resizeToAspectRatio = true

- if !defined?(height) || resizeToAspectRatio
  - if viewerSize && width.is_a?(Integer)
    - height = (viewerSize['height'] || 400).to_i * width / (viewerSize['width'] || 450).to_i

- if !defined?(scale)
  - scale = 1.0

- baseWidth = width
- baseHeight = height

- if width.is_a? Integer
  - baseWidth = "#{baseWidth}px"
  - width = width * scale
  - width = "#{width}px"

- if height.is_a? Integer
  - baseHeight = "#{baseHeight}px"
  - height = height * scale
  - height = "#{height}px"

- if !defined?(running)
  - running = false

- if !defined?(file)
  - file = nil

- if !defined?(widgetObject)
  - widgetObject = nil

- sandbox = "allow-pointer-lock allow-scripts"
-# sandbox = nil

- if !running && viewerObject.info[:architecture] == 'javascript'
  -#.card.filled.object-viewer{:class => (preview ? "preview" : ""), :style => (preview ? "width: #{baseWidth}; height: #{baseHeight}" : "")}
    - iframeSrc = viewerObject.url(:path => "raw/#{viewerObject.info[:file]}", :full => true)
    - src = iframeSrc
    - if preview
      - src = ""
    - if object
      %iframe.fill.full-widget.separator-resize{:style => "overflow: hidden; width: #{width}; height: #{height}; display: block;", :sandbox=>sandbox, :src => src, :"data-src" => iframeSrc, :"data-input-object-id" => object.uuid, :"data-input-object-type" => object.info[:type], :"data-input-object-revision" => object.revision, :"data-input-file" => file}
    - else
      %iframe.fill.full-widget.separator-resize{:style => "overflow: hidden; width: #{width}; height: #{height}; display: block;", :sandbox=>sandbox, :src => src, :"data-src" => iframeSrc}
  - if !preview
    .card.filled.object-runner.object-viewer
      = partial(:"objects/runner", :locals => {:workset => nil,
                                               :running => running,
                                               :viewer  => viewerObject,
                                               :object  => viewerObject,
                                               :separator_resize => true,
                                               :file    => file,
                                               :input   => object})
- else
  - if !preview
    .card.filled.object-viewer{:hidden => true}
      %iframe.full-widget.separator-resize{:style => "overflow: hidden; width: 100%; height: 100%; display: block;", :sandbox=>sandbox, :src => ""}
  .card.filled.object-runner.object-viewer
    = partial(:"objects/runner", :locals => {:workset => nil,
                                             :running => running,
                                             :viewer  => viewerObject,
                                             :object  => viewerObject,
                                             :separator_resize => true,
                                             :file    => file,
                                             :input   => viewerObject.uuid != object.uuid ? object : nil})
- if !preview && view != "minimal"
  .card.filled.separator
  .card.filled.no-resize
    .widget-label
      #{label}
      .widget-selection{:name => "widget-selection"}
        .large-icon.widget-object{:autocomplete => "off",
                                  :"data-object-type" => viewerObject.info[:type],
                                  :name         => "name",
                                  :placeholder  => I18n.t('fields.placeholders.selectObject'),
                                  :value        => viewerObject.info[:name]}
          %a{:href => viewerObject.url}<
            #{viewerObject.info[:name]}
      -# if object && current_person
        %form.association.inline{:method => :post, :action => "/people/#{current_person.uuid}/associations"}
          %input{:type => :hidden, :value => viewerObject.uuid, :name => "object_id"}
          %input{:type => :hidden, :value => object.info[:type], :name => "views_type"}
          %input{:type => :hidden, :value => object.info[:subtype], :name => "views_subtype"}
          %input.button{:type => :submit, :value => "Always Use For These Objects"}

      -# if object && current_account && current_account.hasRole?("administrator")
        %form.association.inline{:method => :post, :action => "/system/associations"}
          %input{:type => :hidden, :value => viewerObject.uuid, :name => "object_id"}
          %input{:type => :hidden, :value => object.info[:type], :name => "views_type"}
          %input{:type => :hidden, :value => object.info[:subtype], :name => "views_subtype"}
          %input.button{:type => :submit, :value => "Use System-wide For These Objects"}
        - if !Occam::Object.associationFor(:object => object, :system => true).nil?
          %form.association.inline{:method => :post, :action => "/system/associations"}
            %input{:type => :hidden, :value => 'delete', :name => :_method}
            %input{:type => :hidden, :value => object.info[:type], :name => "views_type"}
            %input{:type => :hidden, :value => object.info[:subtype], :name => "views_subtype"}
            %input.button{:type => :submit, :value => "Remove System-wide Association"}
      %a.open-options{:href => "#"}
        = I18n.t('object-selection.openOptions')
      %a.close-options{:href => "#", :hidden => true}
        = I18n.t('object-selection.closeOptions')
      %a.full-screen{:href => "#"}
        = I18n.t('alt-text.fullScreen')
    %ul.tabs.card-tabs{:hidden => true}
      %li.tab.active>
        %a>
          = I18n.t('tabs.object')
      %li.tab
        %a>
          = I18n.t('tabs.environment')
      - if viewerObject.datapoints?
        %li.tab>
          %a>
            = I18n.t('tabs.datasets')
      - viewerObject.configurations.each do |configuration|
        %li.tab>
          %a>
            #{configuration['label'] || configuration['name']}
    %ul.tab-panels{:hidden => true}
      -# Object Selection
      %li.tab-panel.widget-selection.active
        = partial(:"objects/viewer/object_selection", :locals => {:running      => running,
                                                                  :widgetObject => widgetObject,
                                                                  :object       => object})
      -# Task Environment Set-up
      %li.tab-panel
        = partial(:"objects/viewer/environment", :locals => {})
      - if viewerObject.datapoints?
        %li.tab-panel
          %ul.tabs.outputs.bubble
            %li.tab.active
              %a
                = I18n.t('tabs.openData')
          %ul.tab-panels.outputs
            %li.tab-panel.active
              %h2
                = I18n.t('subheaders.openFromWorkset')

              - if current_person
                = partial(:"worksets/list", :locals => {:head_view => false, :worksets => current_person.worksets})
              - else
                %p
                  = I18n.t('common.noSessionWorksets')

      - viewerObject.configurations.each_with_index do |configuration, index|
        %li.tab-panel.configuration{:"data-key" => Base64.urlsafe_encode64(configuration['name']), :"data-object-id" => viewerObject.uuid, :"data-object-revision" => viewerObject.revision, :"data-configuration-index" => index}
