%li.comment{:id => "comment-#{comment[:id]}", :class => (params["comment"] == comment[:id] ? "active" : "")}
  .comment-body
    %span.id{:hidden => true}<
      #{comment[:id]}

    -# Provide an avatar for the user based on their name or anonymous alias.
    %span.avatar<
      - if comment[:deleted] != 0
        %img{:src => Occam::Person.default_avatar_url("deleted", 20)}<
      - elsif comment[:person] && !comment[:person].is_a?(Hash)
        %img{:src => comment[:person].avatar_url(size=20)}<
      - else
        %img{:src => Occam::Person.default_avatar_url(comment[:alias], 20)}<

    -# Name the person posting when appropriate, delete or anonymous otherwise.
    %span.name
      - if comment[:deleted] != 0
        [#{I18n.t('social.deleted')}]
      - else
        - if comment[:person]
          #{comment[:person].info[:name]}
        - else
          #{I18n.t('social.anonymous')}

    %span.verb
      #{I18n.t('social.posted')}

    -# This is the alias which is the same for anonymous posts by the same
    -# person in the same object
    %span.author-alias{:hidden => true}
      #{comment[:alias]}

    -# Show the time of posting, and action links for the user based on their permissions.
    %span.time
      %time{:datetime => comment[:createTime]}
        #{renderDuration(comment[:createTime])}
    - if comment[:deleted] == 0
      %a.reply-link{:href => object.url(:path => "social", :query => {:inReplyTo => comment[:id]})}<
        #{I18n.t('social.reply')}
      - if comment[:person] and current_person and comment[:person].uuid == current_person.uuid
        %a.edit-link{:href => object.url(:path => "social", :query => {:edit => comment[:id]})}<
          #{I18n.t('social.edit')}
      - if comment[:person] and current_person and comment[:person].uuid == current_person.uuid
        %form.inline.delete-form{:method => :post, :action => object.url(:path => "social/comments/#{comment[:id]}")}
          %input{:type => :hidden, :value => 'delete', :name => :_method}
          %input.link.delete-link{:value => "#{I18n.t('social.delete')}",
                                  :type => :submit,
                                  :name => "submit"}

    -# Contents of the comment, and notes pertaining to it.
    .content
      -if comment[:deleted] != 0
        %p.comment-note
          **#{I18n.t('social.deleted')}**
      -else
        -if comment[:updateTime]
          %p.comment-note
            **#{I18n.t('social.last_edited')}
            %time{:datetime => comment[:updateTime]}
              #{renderDuration(comment[:updateTime])}**
        -# Render the comment as markdown. Markdown styling in views/stylesheets/_social.scss
        :markdown
          #{comment[:content]}

  = partial(:"objects/social/replies", :locals => {:comments => comment[:replies], :object => object})

  -# If we have more comments to load in, add an expansion link.
  - if comment[:replies].count < comment[:numReplies]
    %span.replies-link
      %a.show-replies{:href => object.url(:path => "social/comments/#{comment[:id]}/replies/")}<
        #{I18n.t('social.show_more', count: comment[:numReplies] - comment[:replies].count)}
