%ul.replies.comments<
  - comments.each do |reply|
    = partial(:"objects/social/comment", :locals => {:comment => reply, :object => object})
  -# If we are holding back the replies, give a link to display them
