-# Generates a list of objects
-#
-# Locals: objects  - either an array of Occam::Object (or a relation) or an
-#                    array of object infomation (array of hashes).

%ul.information.object-table
  - if objects.nil?
    - objects = []
  - objects.each do |object|
    - if object.info.nil?
      -# TODO: illustrate that the object is missing
      - next
    %li.object{"data-object-type"     => object.info[:type],
               "data-object-revision" => object.revision}
      %h2.type.object.icon{"data-object-type" => object.info[:type]}
        - if object.info.has_key? :name
          #{object.info[:name]}
          %span.small
            #{object.info[:type]}
        - else
          #{object.info[:type]}
      %p
        %a{:href => object.url}
          = I18n.t 'common.view'
        -# TODO: hmm, need to inspect generated object and see if it has a file
        - if object.info[:file]
          %a{:href => object.url(:path => "file")}<
            = I18n.t 'common.download'
        - if object.info[:schema]
          %a{:href => object.url(:path => "schema")}<
            = I18n.t 'common.schema'
